* {
    box-sizing: border-box;
}
html {
    width: 100vw !important;

    overflow-y: scroll;

}
body {
    width: 100%;

    margin: 0;
}

.a:-webkit-any-link  {
    text-decoration: none;
    color: #ffffff;
}



/* Create two columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;

    background-color: #ffffff;

}
        .column1 {
            width: 57%;

            padding-left: 28px;

            .king {
                display: inline-block;
                color: #5D6370;

                font-size: 13px;

                text-decoration: underline;

            }

            .March {
                display: inline-block;
                color: #5D6370;

                font-size: 13px;
            }

            .location2 {
                margin-top: -1px;
                margin-left: 9px;

                width: 14px;
            }

            .Mar {
                margin-top: -1px;
                margin-left: 9px;

                width: 14px;
            }

            .aboutimage {
                color: #333333;

                font-size: 13px;
            }

            .bigimage {
                height: 300px;

                .left img{
                    
                    background-size: cover;
                    background-position: center;

                    height: 289px;
                    width: 68%;

                    float: left;
                }

                .right {

                    height: 300px;
                    width: 28%;

                    float: right;
                
                    .topbutton {
                        display: block;
                        width: 90%;
                        margin-left: 5%;
                        background-color: #9CA3AF;
                        padding-top: 6px;
                        border-radius: 8px;
                    }

                    .topbutton:hover {
                        background-color: #252525;
                    }

                    .bottombutton {
                        display: block;
                        width: 90%;
                        margin-left: 5%;
                        background-color: #9CA3AF;
                        border-radius: 8px;
                    }

                    .bottombutton:hover {
                        background-color: #252525;
                    }

                    .topimage {
                        display: block;
                        width: 90%;
                        height: 22%;
                        margin-right: 5%;
                        margin-top: 5px;
                    }

                    .middleimage {
                        display: block;
                        width: 90%;
                        height: 23%;
                        margin-right: 5%;
                        margin-top: 5px;
                    }

                    .lowerimage {
                        display: block;
                        width: 90%;
                        height: 23%;
                        margin-right: 5%;
                        margin-top: 5px;
                        margin-bottom:5px;
                    }

                    .fa-sort-up {
                        font-size: 25px;
                        color: #ffffff;

                        top: 6px;
                    }

                    .fa-sort-down {
                        font-size: 25px;
                        color: #ffffff;

                        padding-bottom: 9px;
                    }
                }


            }
        }

        .column2 {
            width: 43%;
            border-radius: 9px;
        }
  


  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .background {
    background-color: #ffffff;
  }

  
  .row {
      padding-top: 20px;
      padding-bottom: 50px;




      .topminiheader {
        background-color: #ffffff;
        margin-top: -39px;
        border-bottom: solid 1px #808080;
        .want {
            font-size: 25px;

            padding: 10px;
            padding-left: 25px;
            padding-top: 32px;

            margin-bottom: 0px;

            font-weight: 600;
        }

        .details {
            display: inline-block;

            margin-left: 31px;
            margin-right: 33px;

            color: #6B7280;
        }

        .proposal {
            display: inline-block;

            color: #6B7280;
        }

        .active {
            color: #386DF5;
            text-decoration: underline;
            text-underline-offset: 0.9em;
        }

        .display:hover {
            color: #092a7c;
        }

        .proposal:hover {
            color: #386DF5;
            text-decoration: underline;
            text-underline-offset: 0.9em;
        }
    }


      img {
        color: #000000;
        float: right;
        margin-top: 9px;
        margin-right: 13px;
        width: 18px;
      }

      .smallcolumn {

        height: fit-content;
        padding-top: 12px;
        padding-bottom: 57px;
         
        .red {
            background-color: #ffffff;
            height: 96px;
            
            margin-bottom: 5px;
            border-radius: 4px;
    
            border: solid 1px #EEEEEE;
    
            p {
                display: inline-block;
                margin-left: 13px;
            }
    
            .dollarsign {
                color: #002ea3;
                font-size: 17px;
                font-weight: 600;
    
                margin-bottom: 0;
            }
    
            .amount {
                font-family: Titillium Web;
                font-size: 16px;
                font-weight: bold;
    
                margin-bottom: 0;
                margin-left: -3px;
    
            }
    
            .rates {
                font-size: 10px;
    
                margin-bottom: 0;
                margin-left: 0px;
                color: #808080;
    
            }
    
            .contactemployer {
                color: #ffffff;
                background-color: #386DF5;
                font-size: 10px;
                padding: 12px;
                padding-left: 18px;
                padding-right: 18px;
                border-radius: 8px;
                margin-left: 11px;
                margin-top: 10px;
                border: none;
            }
    
            .contactemployer:hover {
                background-color: #0139c5;
            }
    
            .tender {
                background-color: #F3F7FF;
                color: #386DF5;
                padding: 11px;
                padding-left: 35px;
                padding-right: 35px;
                font-size: 10px;
                font-weight: 600;
                border: 1px solid #386DF5;
                border-radius: 7px;
            }
    
            .tender:hover {
                background-color: #386DF5;
                color: #ffffff;
            }
    
    
        }
    
        .blue {
            background-color: #ffffff;
            height: fit-content;
            border-radius: 4px;
            margin-bottom: 5px;
    
            border: solid 1px #EEEEEE;
    
            .checked {
                color: #386DF5;
                font-size: 9px;
            }
    
            .mizeach {
                color: #000000;
    
                margin-right: 0;
                margin-top: 9px;
                margin-left: 15px;
    
                width: 28px;
                float: none;
            }
    
            .avatarname {
                font-size: 12px;
                margin: 0;
                width: 52px;
                display: inline-block;
            }
    
            .reviews {
                color: #808080;
                display: inline-block;
                font-size: 11px;
                text-decoration: underline;
            }
    
            .reviewswords {
                color: #333333;
                font-size: 13px;
                font-weight: 500;
                padding-left: 20px;
            }
    
            .statistics {
                background-color: #ffffff;
                width: 29%;
                padding: 1px;
                border: none;
                color: black;
            }

            .line {
                border-right: 1px solid #bebebe;
            }
    
            .statistic {
                color: #A9A9A9;
            }
    
            .aboutcontact {
                padding-left: 10px;
                padding-right: 10px;
            }
    
            .avgreply {
                margin-top: 5px;
            }
    
        }
    
    
        .green {
            height: 70px;
    
            margin-bottom: 5px;
    
            border: solid 1px #EEEEEE;
        }
      }


}

.col-11 {
   width: 80%;
   margin: auto;
}
    
    
    





@media only screen and (max-width: 900px) {

    .middlesection {
        padding-left: 82px;

        .navbar a {
            font-size: 14px;
        }

        .gridbox {
            margin-left: 79px;
        }

        .column {
            width: 100%;
        }

        .column1 {
            .March, .king {
                font-size: 11px;
            }

            .location2, .Mar {
                width: 11px;
            }

            .aboutimage {
                font-size: 11px;
            }
        }



        .row::after {
            content: "";
            clear: both;
            display: table;
          }

    

          .row {

            .topminiheader {
                .want {
                    font-size: 23px;
                }

                .proposal, .details {
                    font-size: 13px;
                }
            }

            .red {
                background-color: #ffffff;
                height: 96px;
                
                margin-bottom: 5px;
                border-radius: 4px;
        
                p {
                    display: inline-block;
                    margin-left: 13px;
                }
        
                .dollarsign {
                    color: #002ea3;
                    font-size: 17px;
                    font-weight: 600;
        
                    margin-bottom: 0;
                }
        
                .amount {
                    font-family: Titillium Web;
                    font-size: 16px;
                    font-weight: bold;
        
                    margin-bottom: 0;
                    margin-left: -3px;
        
                }
        
                .rates {
                    font-size: 10px;
        
                    margin-bottom: 0;
                    margin-left: 0px;
                    color: #808080;
        
                }
        
                .contactemployer {
                    color: #ffffff;
                    background-color: #386DF5;
                    font-size: 8px;
                    padding: 12px;
                    padding-left: 8px;
                    padding-right: 8px;
                    border-radius: 8px;
                    margin-left: 11px;
                    margin-top: 10px;
                    border: none;
                }
     
        
                .tender {
                    background-color: #F3F7FF;
                    color: #386DF5;
                    padding: 11px;
                    padding-left: 20px;
                    padding-right: 20px;
                    font-size: 10px;
                    font-weight: 600;
                    border: 1px solid #386DF5;
                    border-radius: 7px;
                }
        
    
            }
        
            }
    }

}




@media screen and (max-width: 600px) {

    .middlesection {
        padding-left: 56px;

        .navbar {
            margin-bottom: 10px;
        }

        .navbar a {
            font-size: 10px;
            padding: 9px;

        }

        .fa-chevron-right:before {
            margin-left: 9px;
        }

        .column {
            width: 100%;
        }

        .column1 {
            .March, .king {
                font-size: 9px;
            }

            .location2, .Mar {
                width: 9px;
            }

            .aboutimage {
                font-size: 9px;
            }

            .bigimage {

                .left img {
                    width: 67%;
            }
    
            }
        }



        .row::after {
            content: "";
            clear: both;
            display: table;
          }

        .row {
            .topminiheader {
                .want {
                    font-size: 16px;
                    padding-left: 27px;
                    padding-top: 20px;
                }

                .proposal, .details {
                    font-size: 11px;
                }
            }

            .smallcolumn {
                .red {
                    .amount {
                        font-size: 14px;
                    }

                    .dollarsign {
                        font-size: 14px;
                    }


                    .contactemployer {
                        font-size: 9px;
                        padding: 10px;
                        padding-left: 12px;
                        padding-right: 12px;
                    }

                    .tender {
                        padding: 10px;
                        padding-left: 29px;
                        padding-right: 29px;
                        font-size: 9px;
                    }
                }

                .blue {
                    .mizeach {
                        width: 26px;
                    }

                    .reviews {
                        font-size: 10px;
                    }

                    .reviewswords {
                        font-size: 11px;
                    }

                    .statistic {
                        font-size: 10px;
                    }

                    .statistics {
                        font-size: 12px;
                    }
                }

                .rates {
                    font-size: 9px;
                }

            }

            img {
                width: 16px;
            }
        }


    }


}





@media screen and (max-width: 400px) {

    .middlesection {
        padding-left: 38px;

        .gridbox {
            margin-left: 47px;
        }

        .navbar a {
            font-size: 11px;
        }

        .fa-chevron-right:before {
            margin-left: 2px;
        }

        .column1 {
            .March, .king {
                font-size: 7px;
            }

            .location2, .Mar {
                width: 7px;
            }

            .aboutimage {
                font-size: 8px;
            }
        }

        .row {
            .smallcolumn {
                .red {

                    height: 79px;
    
                    .dollarsign {
                        font-size: 12px;
                    }
    
                    .amount {
                        font-size: 13px;
                    }
    
                    .rates {
                        font-size: 8px;
                    }
    
                    .contactemployer {
                        font-size: 6px;
                        padding: 9px;
                        padding-left: 7px;
                        padding-right: 7px;
                        border-radius: 7px;
                    }
         
            
                    .tender {
                            padding: 7px;
                            padding-left: 17px;
                            padding-right: 17px;
                            font-size: 8px;
                    }
    
                    .dollarsign {
                        color: #002ea3;
                        font-size: 14px;
                    }
            
                    .amount {
                        font-size: 12px;
            
                    }
            
                    .rates {
                        font-size: 8px;
            
                    }
                }

                .blue {
                    .reviews {
                        font-size: 8px;
                    }

                    .reviewswords {
                        font-size: 9px;
                    }

                    .statistics {
                        font-size: 11px;
                    }

                    .statistic {
                        font-size: 8px;
                    }
                }
            }


            img {
                width: 10px;
                margin-right: 8px;
            }
        }
    }

}






