* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  width: 100vw !important;
  overflow-y: scroll;
}

body {
  width: 100%;
  margin: 0;
}

.a:-webkit-any-link {
  text-decoration: none;
  color: #ffffff;
}

/* Create two columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  background-color: #ffffff;
}

.column1 {
  width: 57%;
  padding-left: 28px;
}

.column1 .king {
  display: inline-block;
  color: #5D6370;
  font-size: 13px;
  text-decoration: underline;
}

.column1 .March {
  display: inline-block;
  color: #5D6370;
  font-size: 13px;
}

.column1 .location2 {
  margin-top: -1px;
  margin-left: 9px;
  width: 14px;
}

.column1 .Mar {
  margin-top: -1px;
  margin-left: 9px;
  width: 14px;
}

.column1 .aboutimage {
  color: #333333;
  font-size: 13px;
}

.column1 .bigimage {
  height: 300px;
}

.column1 .bigimage .left img {
  background-size: cover;
  background-position: center;
  height: 289px;
  width: 68%;
  float: left;
}

.column1 .bigimage .right {
  height: 300px;
  width: 28%;
  float: right;
}

.column1 .bigimage .right .topbutton {
  display: block;
  width: 90%;
  margin-left: 5%;
  background-color: #9CA3AF;
  padding-top: 6px;
  border-radius: 8px;
}

.column1 .bigimage .right .topbutton:hover {
  background-color: #252525;
}

.column1 .bigimage .right .bottombutton {
  display: block;
  width: 90%;
  margin-left: 5%;
  background-color: #9CA3AF;
  border-radius: 8px;
}

.column1 .bigimage .right .bottombutton:hover {
  background-color: #252525;
}

.column1 .bigimage .right .topimage {
  display: block;
  width: 90%;
  height: 22%;
  margin-right: 5%;
  margin-top: 5px;
}

.column1 .bigimage .right .middleimage {
  display: block;
  width: 90%;
  height: 23%;
  margin-right: 5%;
  margin-top: 5px;
}

.column1 .bigimage .right .lowerimage {
  display: block;
  width: 90%;
  height: 23%;
  margin-right: 5%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.column1 .bigimage .right .fa-sort-up {
  font-size: 25px;
  color: #ffffff;
  top: 6px;
}

.column1 .bigimage .right .fa-sort-down {
  font-size: 25px;
  color: #ffffff;
  padding-bottom: 9px;
}

.column2 {
  width: 43%;
  border-radius: 9px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.background {
  background-color: #ffffff;
}

.row {
  padding-top: 20px;
  padding-bottom: 50px;
}

.row .topminiheader {
  background-color: #ffffff;
  margin-top: -39px;
  border-bottom: solid 1px #808080;
}

.row .topminiheader .want {
  font-size: 25px;
  padding: 10px;
  padding-left: 25px;
  padding-top: 32px;
  margin-bottom: 0px;
  font-weight: 600;
}

.row .topminiheader .details {
  display: inline-block;
  margin-left: 31px;
  margin-right: 33px;
  color: #6B7280;
}

.row .topminiheader .proposal {
  display: inline-block;
  color: #6B7280;
}

.row .topminiheader .active {
  color: #386DF5;
  text-decoration: underline;
  text-underline-offset: 0.9em;
}

.row .topminiheader .display:hover {
  color: #092a7c;
}

.row .topminiheader .proposal:hover {
  color: #386DF5;
  text-decoration: underline;
  text-underline-offset: 0.9em;
}

.row img {
  color: #000000;
  float: right;
  margin-top: 9px;
  margin-right: 13px;
  width: 18px;
}

.row .smallcolumn {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 12px;
  padding-bottom: 57px;
}

.row .smallcolumn .red {
  background-color: #ffffff;
  height: 96px;
  margin-bottom: 5px;
  border-radius: 4px;
  border: solid 1px #EEEEEE;
}

.row .smallcolumn .red p {
  display: inline-block;
  margin-left: 13px;
}

.row .smallcolumn .red .dollarsign {
  color: #002ea3;
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 0;
}

.row .smallcolumn .red .amount {
  font-family: Titillium Web;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0;
  margin-left: -3px;
}

.row .smallcolumn .red .rates {
  font-size: 10px;
  margin-bottom: 0;
  margin-left: 0px;
  color: #808080;
}

.row .smallcolumn .red .contactemployer {
  color: #ffffff;
  background-color: #386DF5;
  font-size: 10px;
  padding: 12px;
  padding-left: 18px;
  padding-right: 18px;
  border-radius: 8px;
  margin-left: 11px;
  margin-top: 10px;
  border: none;
}

.row .smallcolumn .red .contactemployer:hover {
  background-color: #0139c5;
}

.row .smallcolumn .red .tender {
  background-color: #F3F7FF;
  color: #386DF5;
  padding: 11px;
  padding-left: 35px;
  padding-right: 35px;
  font-size: 10px;
  font-weight: 600;
  border: 1px solid #386DF5;
  border-radius: 7px;
}

.row .smallcolumn .red .tender:hover {
  background-color: #386DF5;
  color: #ffffff;
}

.row .smallcolumn .blue {
  background-color: #ffffff;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 4px;
  margin-bottom: 5px;
  border: solid 1px #EEEEEE;
}

.row .smallcolumn .blue .checked {
  color: #386DF5;
  font-size: 9px;
}

.row .smallcolumn .blue .mizeach {
  color: #000000;
  margin-right: 0;
  margin-top: 9px;
  margin-left: 15px;
  width: 28px;
  float: none;
}

.row .smallcolumn .blue .avatarname {
  font-size: 12px;
  margin: 0;
  width: 52px;
  display: inline-block;
}

.row .smallcolumn .blue .reviews {
  color: #808080;
  display: inline-block;
  font-size: 11px;
  text-decoration: underline;
}

.row .smallcolumn .blue .reviewswords {
  color: #333333;
  font-size: 13px;
  font-weight: 500;
  padding-left: 20px;
}

.row .smallcolumn .blue .statistics {
  background-color: #ffffff;
  width: 29%;
  padding: 1px;
  border: none;
  color: black;
}

.row .smallcolumn .blue .line {
  border-right: 1px solid #bebebe;
}

.row .smallcolumn .blue .statistic {
  color: #A9A9A9;
}

.row .smallcolumn .blue .aboutcontact {
  padding-left: 10px;
  padding-right: 10px;
}

.row .smallcolumn .blue .avgreply {
  margin-top: 5px;
}

.row .smallcolumn .green {
  height: 70px;
  margin-bottom: 5px;
  border: solid 1px #EEEEEE;
}

.col-11 {
  width: 80%;
  margin: auto;
}

@media only screen and (max-width: 900px) {
  .middlesection {
    padding-left: 82px;
  }
  .middlesection .navbar a {
    font-size: 14px;
  }
  .middlesection .gridbox {
    margin-left: 79px;
  }
  .middlesection .column {
    width: 100%;
  }
  .middlesection .column1 .March, .middlesection .column1 .king {
    font-size: 11px;
  }
  .middlesection .column1 .location2, .middlesection .column1 .Mar {
    width: 11px;
  }
  .middlesection .column1 .aboutimage {
    font-size: 11px;
  }
  .middlesection .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .middlesection .row .topminiheader .want {
    font-size: 23px;
  }
  .middlesection .row .topminiheader .proposal, .middlesection .row .topminiheader .details {
    font-size: 13px;
  }
  .middlesection .row .red {
    background-color: #ffffff;
    height: 96px;
    margin-bottom: 5px;
    border-radius: 4px;
  }
  .middlesection .row .red p {
    display: inline-block;
    margin-left: 13px;
  }
  .middlesection .row .red .dollarsign {
    color: #002ea3;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 0;
  }
  .middlesection .row .red .amount {
    font-family: Titillium Web;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: -3px;
  }
  .middlesection .row .red .rates {
    font-size: 10px;
    margin-bottom: 0;
    margin-left: 0px;
    color: #808080;
  }
  .middlesection .row .red .contactemployer {
    color: #ffffff;
    background-color: #386DF5;
    font-size: 8px;
    padding: 12px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 8px;
    margin-left: 11px;
    margin-top: 10px;
    border: none;
  }
  .middlesection .row .red .tender {
    background-color: #F3F7FF;
    color: #386DF5;
    padding: 11px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 10px;
    font-weight: 600;
    border: 1px solid #386DF5;
    border-radius: 7px;
  }
}

@media screen and (max-width: 600px) {
  .middlesection {
    padding-left: 56px;
  }
  .middlesection .navbar {
    margin-bottom: 10px;
  }
  .middlesection .navbar a {
    font-size: 10px;
    padding: 9px;
  }
  .middlesection .fa-chevron-right:before {
    margin-left: 9px;
  }
  .middlesection .column {
    width: 100%;
  }
  .middlesection .column1 .March, .middlesection .column1 .king {
    font-size: 9px;
  }
  .middlesection .column1 .location2, .middlesection .column1 .Mar {
    width: 9px;
  }
  .middlesection .column1 .aboutimage {
    font-size: 9px;
  }
  .middlesection .column1 .bigimage .left img {
    width: 67%;
  }
  .middlesection .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .middlesection .row .topminiheader .want {
    font-size: 16px;
    padding-left: 27px;
    padding-top: 20px;
  }
  .middlesection .row .topminiheader .proposal, .middlesection .row .topminiheader .details {
    font-size: 11px;
  }
  .middlesection .row .smallcolumn .red .amount {
    font-size: 14px;
  }
  .middlesection .row .smallcolumn .red .dollarsign {
    font-size: 14px;
  }
  .middlesection .row .smallcolumn .red .contactemployer {
    font-size: 9px;
    padding: 10px;
    padding-left: 12px;
    padding-right: 12px;
  }
  .middlesection .row .smallcolumn .red .tender {
    padding: 10px;
    padding-left: 29px;
    padding-right: 29px;
    font-size: 9px;
  }
  .middlesection .row .smallcolumn .blue .mizeach {
    width: 26px;
  }
  .middlesection .row .smallcolumn .blue .reviews {
    font-size: 10px;
  }
  .middlesection .row .smallcolumn .blue .reviewswords {
    font-size: 11px;
  }
  .middlesection .row .smallcolumn .blue .statistic {
    font-size: 10px;
  }
  .middlesection .row .smallcolumn .blue .statistics {
    font-size: 12px;
  }
  .middlesection .row .smallcolumn .rates {
    font-size: 9px;
  }
  .middlesection .row img {
    width: 16px;
  }
}

@media screen and (max-width: 400px) {
  .middlesection {
    padding-left: 38px;
  }
  .middlesection .gridbox {
    margin-left: 47px;
  }
  .middlesection .navbar a {
    font-size: 11px;
  }
  .middlesection .fa-chevron-right:before {
    margin-left: 2px;
  }
  .middlesection .column1 .March, .middlesection .column1 .king {
    font-size: 7px;
  }
  .middlesection .column1 .location2, .middlesection .column1 .Mar {
    width: 7px;
  }
  .middlesection .column1 .aboutimage {
    font-size: 8px;
  }
  .middlesection .row .smallcolumn .red {
    height: 79px;
  }
  .middlesection .row .smallcolumn .red .dollarsign {
    font-size: 12px;
  }
  .middlesection .row .smallcolumn .red .amount {
    font-size: 13px;
  }
  .middlesection .row .smallcolumn .red .rates {
    font-size: 8px;
  }
  .middlesection .row .smallcolumn .red .contactemployer {
    font-size: 6px;
    padding: 9px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 7px;
  }
  .middlesection .row .smallcolumn .red .tender {
    padding: 7px;
    padding-left: 17px;
    padding-right: 17px;
    font-size: 8px;
  }
  .middlesection .row .smallcolumn .red .dollarsign {
    color: #002ea3;
    font-size: 14px;
  }
  .middlesection .row .smallcolumn .red .amount {
    font-size: 12px;
  }
  .middlesection .row .smallcolumn .red .rates {
    font-size: 8px;
  }
  .middlesection .row .smallcolumn .blue .reviews {
    font-size: 8px;
  }
  .middlesection .row .smallcolumn .blue .reviewswords {
    font-size: 9px;
  }
  .middlesection .row .smallcolumn .blue .statistics {
    font-size: 11px;
  }
  .middlesection .row .smallcolumn .blue .statistic {
    font-size: 8px;
  }
  .middlesection .row img {
    width: 10px;
    margin-right: 8px;
  }
}
/*# sourceMappingURL=projectnero.css.map */