* {
    box-sizing: border-box;
}
html {
    width: 100vw !important;

    overflow-y: scroll;

}
body {
    width: 100%;

    margin: 0;

    background-color: #e5e5e5;
}


.a:-webkit-any-link  {
    text-decoration: none;
    color: #ffffff;
}




/* for the maincontent */

    .maincontent {
        width: 80%;
        margin: auto;

        border-radius: 5px;
        background-color: #ffffff;

        padding: 20px;

        .done {
            display: inline-block;
        }

        .forwho {
            display: inline-block;
            background-color: #F1F4FA;
            width: 200px;
            height: 45px;
            border-radius: 30px;

            float: right;
            justify-content: center;
            align-items: center;
            align-content: center;

            padding-top: 4px;
            padding-left: 5px;
            margin-right: 25px;


            .client {
                color: #ffffff;
                background-color: #386DF5;
                border: none;
                border-radius: 37px;
                font-size: 12px;
                height: 36px;
                width: 50%;
            }

            .client:hover {
                background-color: #244eb9;
            }

            .worker {
                border: none;
                color: #386DF5;
                background-color: transparent;
                padding: 11px;
                margin-left: -4px;
                border-radius: 24px;
            }

            .worker:hover {
                background-color: #c7c8ca;
            }
        }

        .content {

            margin-top: 30px;

            .div1 {
                width: 100%;
                margin-bottom: 35px;

                .imagediv {
                    width: 20%;
                    display: inline-block;
                    padding: 10px;
                    position: relative;
                    float: left;
                    margin-top: -7px;

                    img {
                        width: 100%;
                    }
                }

                .wordsdiv {
                    display: inline-block;
                    width: 75%;
                    margin-left: 5px;
                    paddin-top: 10px;

                    .mainwords {
                        width: 72%;
                        float: left;
                    }

                    .wordsheader {
                        margin: 0;
                        color: #333333;
                    }

                    .caption {
                        display: inline-block;
                        color: #5D6370;
                        font-size: 10px;
                        margin: 0;
                    }

                    .caption2 {
                        display: inline-block;
                        margin: 0;
                        color: #5D6370;
                        font-size: 10px;

                        margin-left: 2px;
                    }

                    .caption3 {
                        display: inline-block;
                        font-size: 10px;
                        color: #5D6370;
                        margin-left: 10px;
                    }

                    .caption4 {
                        display: inline-block;
                        font-size: 10px;
                        color: #5D6370;
                        margin-left: 10px;
                    }

                    .mainparagraph {
                        display: inline-block;
                        font-size: 12px;
                        color: #5D6370;
                    }

                    .bids {
                        display: inline-block;
                        width: 25%;
                        float: right;

                        .currency {
                            display: inline-block;
                            margin: 0;
                            color: #386DF5;
                            font-size: 20px;
                        }

                        .howmuch {
                            display: inline-block;
                            margin: 0;
                            font-size: 18px;
                            font-weight: 800;
                        }

                        .howlong {
                            display: inline-block;
                            font-size: 10px;
                            color: #666666;
                        }

                        .howmany {
                            float: right;
                            font-size: 13px;
                            margin: 0;
                            margin-top: 10px;
                            color: #666666;
                        }
                    }

                    
                }
            }
        }
    }






@media only screen and (max-width: 900px) {

            .maincontent {

                .forwho {
                    width: 190px;
                    margin-top: 9px;

                    .worker {
                        padding: 6px;
                        font-size: 13px;
                    }
                }

                .content {
                    .div1 {
                        .wordsdiv {
                            .wordsheader {
                                font-size: 15px;
                            }
                            .caption, .caption2, .caption3, .caption4 {
                                font-size: 8px;
                            }
                            .fa-calendar::before {
                                margin-right: 1px;
                            }
                            .fa-car::before {
                                margin-right: 1px;
                            }
                            .fa-map-marker-alt::before {
                                margin-right: 1px;
                            }
                            .mainparagraph {

                                 font-size: 10px;
                            }
                            .mainwords {
                                width: 100%;
                            }
                            .bids {
                                width: 44%;
                                float: none;

                                .howmany {
                                    float: none;
                                }
                            }
                        }
                    }
                }
            }

}








@media screen and (max-width: 600px) {

    .maincontent {
        .done {
            font-size: 20px;
        }

        .forwho {
            margin-right: 0px;
            height: 41px;
            width: 145px;

            .client {
                font-size: 10px;
                height: 33px;
            }

            .worker {
                font-size: 10px;
            }
        }

        .content {
            .div1 {
                .imagediv {
                    width: 50%;
                }

                .wordsdiv {
                    width: 100%;


                    .caption, .caption2, .caption3, .caption4 {
                          font-size: 6px;
                    }

                    .bids {
                        float: none; 

                        .currency, .howmuch {
                            font-size: 13px;
                        }

                        .howmany {
                            font-size: 10px;
                             margin-top: -1px;
                             float: none;
                        }
                    }


                }

            }
        }
    }

}





@media screen and (max-width: 400px) {

    .maincontent {
        .done {
            font-size: 15px;
        }

        .forwho {
            height: 31px;
            width: 103px;
            margin-top: 2px;


            .client {
                font-size: 7px;
                height: 22px;
            }

            .worker {
                font-size: 7px;
                padding: 4px;
            }
        }

        .content  {
            .div1 {
                .wordsdiv {
                    .wordsheader {
                        font-size: 11px;
                    }

                    .caption, .caption2, .caption3, .caption4 {
                        font-size: 5px;
                        margin: 0;
                    }

                    .mainparagraph {
                        font-size: 7px;
                    }

                    .bids {
                        .currency, .howmuch {
                            font-size: 10px;
                        }

                        .howlong {
                            font-size: 7px;
                        }

                        .howmany {
                            font-size: 8px;
                        }
                    }
                }
            }
        }


    }
}



