* {
    box-sizing: border-box;
}
html {
    width: 100vw !important;

    overflow-y: scroll;

}
body {
    width: 100%;

    margin: 0;
}

.headersection {
 
    background-color: #ffffff;
    overflow: hidden;
    padding: 12 10 12 10px;

}
  /* Style the links inside the navigation bar */
  .logo1 {
    position: absolute;
    width: 28px;
    left: 106px;
    top: 28px;
}

.logo {
    left: 50px;
}

.workinghammer {
    color: #000000;
    font-size: 19px;
    font-family: Inter;
    font-weight: 700;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0em;
    margin: 0;
    margin-top: 18px;
    margin-left: 12px;
}


  .headersection .whiteheader {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 125px;
    text-decoration: none;
    font-size: 17px;
  }
  




  
  /* Hide the link that should open and close the topnav on small screens */
  .headersection .icon {
    display: none;
  }


  .myTopnav {
    margin-top: 59px;
    margin-right: 20px;
}


    /* for notifications and avatar */



    .notification {
        color: #808080;
        float: right;
        margin-top: -32px;
        margin-right: 89px;
    }


    .avatar {
        
        vertical-align: middle;
        float: right;
        margin-top: -41px;
        margin-right: 31px;
        width: 30px;
        height: 30px;
        border-radius: 50%;

      }


 .middlesection {
        background-color: #E5E5E5;
        height: fit-content;
    
        padding-left: 109px;
        padding-right: 50px;
    
          /* Style the navigation bar */
      .navbar {
          width: 100%;
          overflow: auto;
          padding-top: 5px;
        }
        
        /* Navbar links */
        .navbar a {
          float: left;
          text-align: center;
          padding: 12px;
          color: #A9A9A9;
          text-decoration: none;
          font-size: 17px;
        }
        
        /* Navbar links on mouse-over */
        .navbar a:hover {
          background-color: #000;
        }
    
        .fa-chevron-right:before {
            margin-left: 25px;
        }

        /*navbar in the column */

    .topminiheader {
        background-color: #ffffff;
        margin-top: -27px;
  
  
        .paymentcards {
            font-size: 25px;
    
            padding: 10px;
            padding-left: 25px;
            padding-top: 35px;
    
            margin-bottom: 0px;
    
            font-weight: 600;
       }
    } 



    /* for the main column */

    .maincolumn {
        background-color: #ffffff;
        margin-left: 0px;
        margin-right: 0px;

        /* Create two equal columns that floats next to each other */
        .column {
            float: left;
            padding: 10px;
            height: 300px; /* Should be removed. Only for demonstration */
        }
        
        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        .row {
            .column1 {
                background-color: #ffffff;
                border: 1px solid #D1D5DB;
                border-radius: 11px;
                margin-left: 26px;
                margin-top: 8px;
                height: fit-content;
                width: 46%;
                padding: 0;
                margin-bottom: 20%;

                .headings {
                    font-size: 16px;
                    font-weight: 600;

                    margin: 0;

                    border: none;
                    background-color: inherit;
                }

                .cardgroup {
                    display: block;
                    margin-top: 0px;
                    height: 69px;
                    width: 100%;
                    margin-left: 0;

                    border-bottom: 1px solid #D1D5DB;
                    border-top-right-radius: 12px;
                    border-top-left-radius: 12px;

                    padding-left: 12px;
                    padding-right: 12px;
                    padding-bottom: 20px;

                    .card {
                        display: inline-block;
                        margin-top: 20px;
                    }

                    .pay {
                        display: inline-block;
                        width: 86%;
                    }

                    .wepng {
                        display:inline-block;
                        margin-top: -8px;
                        float: right;
                        margin-right: 14px;
                    }
                }

                .cardgroup:hover {
                    background-color: #F7F9FF;
                }

                
                        /* The container <div> - needed to position the dropdown content */
                        .dropdown {
                            display: inline-block;
                        }
                        
                        /* Dropdown Content (Hidden by Default) */
                        .dropdown-content {
                            display: none;
                            position: absolute;
                            z-index: 1;

                            /* Create two equal columns that floats next to each other */
                            .dropdowncolumn {
                                float: left;
                                padding: 10px;
                                width:100%;

                                .dropdowncolumn1 {
                                    width: 60%;
                                }

                                .dropdowncolumn2 {
                                    width: 40%;
                                }
                            }
                            
                            /* Clear floats after the columns */
                            .dropdownrow:after {
                                content: "";
                                display: table;
                                clear: both;
                            }

                            .cardnumber {
                                color: #374151;
                                font-size: 12px;
                                margin: 0;
                                margin-bottom: 3px;
                            }

                            .inputbox {
                                border: 1px solid #D1D5DB;
                                border-radius: 4px;
                                width: 55%;
                            }

                            .inputlabel2 {
                                float:right;
                                width: 40%;
                                margin-top: -17px;
                            }
                        }
                        
 
                        
                      /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
                        .show {
                            display: block;
                            width: 38.6%;
                            margin-left: -3.7%;
                            margin-top: 15px;
                            background-color: transparent;
                            padding: 17px;
                        }
          
          }

            .column2 {
                margin-left: 20px;
                border-radius: 11px;
                border: 1px solid #D1D5DB;
                margin-top: 9px;
                background-color: #ffffff;

                width: 41%;
                height: fit-content;

                margin-right: 55px;
                padding: 22px;

                .depositgroup {
                    .deposit {
                        color: #000000; 
                        font-weight: 600;
                    }

                    select {
                        float: right;
                        padding: 5px;
                        border-radius: 4px;
                        background-color: #ffffff;
                        border: 1px solid #D1D5DB;
                    }

                }

                .amountgroup {
                    margin-top: 25px;

                    .depositamount {
                        color: #000000;
                        font-weight: 600;
                    }

                    .amount {
                        width: 124px;
                        float: right;
                        padding: 5px;
                        border-radius: 4px;
                        background-color: #ffffff;
                        border: 1px solid #D1D5DB;
                    }
                }

                .processgroup {
                    margin-top: 30px;
                    font-weight: 600;

                    .process {
                        display: inline-block;
                    }

                    .price {
                        display: inline-block;
                        float: right;
                    }
                }

                .totalgroup {
                    margin-top: 2px;
                    font-weight: 600;

                    .total {
                        display: inline-block;
                    }

                    .totalamount {
                        float: right;
                        display: inline-block;
                    }
                }

                .confirmation {
                    width: 100%;
                    padding: 12px;
                    border: none;
                    color: #ffffff;
                    font-weight: 600;
                    background-color: #386DF5;
                    border-radius: 5px;
                    margin-bottom: 62px;
                }

                .confirmation:hover {
                    background-color: #092a7c;
                }




            }
        }
  
    }
 }


     /* for the footer section */
.footersection {
    background-color: #202426;

    padding: 69px 80px 28px 11px;

    color: #ffffff;

    .container {
        margin: auto;
        margin-left: 6%;
    }

    .list {
        list-style: none;
        position: inherit;

        padding: 0px;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
    }

    .footer-col {
        width: 15%;
        padding: 0 10px;
        
        margin-bottom: 20px;
    }

    .footer-column {
        width: 25%;
        padding: 0 10px;
    }

    .headings {
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;

        line-height: 20px;

        letter-spacing: 0.05em;
        text-transform: uppercase;

        color: #9CA3AF;

        position: relative;

        cursor: pointer;

    }

    li {
        display: block;
    }

    ul {
        float: none;
    }


    .links {
    
        text-decoration: none;
        position: relative;
    
    
        }
    
    .links a {
        text-decoration: none;
    
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
    
        color: #D1D5DB;
    
    }

    .latest {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;

        line-height: 21px;
        margin-bottom: 15px;
    
        color: #D1D5DB;
    }

    .enter {
        height: 33px;
        border-radius: 7px;
        width: 154px;
        padding: 10px;
    }

    .subscribe {
        font-size: 12px;

        padding: 9px 9px;

        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
        border-radius: 4px;
        border: none;

        background-color: #002ea3;
        backdrop-filter: blur(2px);

        cursor: pointer;
    }

    .subscribe:hover {
        background-color: #092a7c;
    }


    hr {
        color: #4B5563;
        width: 92%;
        
        margin-left: 1%;
        margin-right: 7.5%;
        
    }
  
    .copyright {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;

        font-size: 9px;
        margin-left: 1%;
        line-height: 24px;
        margin-top: 25px;

        color: #9CA3AF;

        display: inline-block;
    }

    .social-links{
        float: right;

        margin-right: 10%;
        margin-top: 25px;

    }

    .social-links img {
        width: 25px;
        height: 25px;
        padding: 5px;
    }

}






@media only screen and (min-width: 1200px) {
    .footersection {
        .latest {
            font-size: 15px;
        }

        .footer-column {
            width: 30%;
        }
    }
}


 








@media only screen and (max-width: 900px) {

  .headersection {
    .workinghammer {
        font-size: 15px;
    }

    .logo1 {
        width: 22px;
        left: 76px;
        top: 32px;
    }

    .whiteheader {
        padding: 14px 88px;
    }

   
}

.middlesection {
    padding-left: 52px;

    .navbar a {
      font-size: 14px;
    }

    .maincolumn {
        .row {
            .column1 {
                margin-bottom: 3%;
                width: 73%;

                .dropdown-content {

                    .column {
                        width: 100%;
                      }

                    .cardnumber {
                        font-size: 14px;
                    }

                    .inputbox {
                        width: 53%;
                        height: 25px;
                    }
                } 

                .show {
                    width: 67%;
                    margin-left: -5.7%;
                }
            }

            .column2 {
                margin-bottom: 60px;
                width: 60%;
            }
        }
    }
  }

  .footersection {
    .footer-col {
        width: 33%;
        padding: 0 23px;
    }

    .footer-column {
        width: 91%;
        margin-bottom: 30px;
    }

    .social-links img {
        width: 10px;
        height: 10px;
        padding: 0px;
    }
}
}






@media only screen and (max-width: 600px) {
  
    .headersection {
        padding-bottom: 20px;
    }

    .headersection .whiteheader {
        padding-bottom: 0px;
        top: 10px;
    }


    .notification {
        margin-top: 19px;
        margin-right: 15px;
        width: 15px;
    }

    .avatar {
        margin-top: 13px;
        margin-right: 31px;
        width: 20px;
        height: 20px;
    }

    .myTopnav {
        margin-top: 6px;
        margin-right: 0;
    }


    .headersection .logo1 {
        width: 17px;
        left: 53px;
        top: 27px;
    }

    .headersection .workinghammer {
        margin-left: 0;
        font-size: 12px !important;
    }

    .headersection .whiteheader{

        padding: 5px 71px;
    }


    .middlesection {

        .navbar a {
          font-size: 13px;
        } 

        .topminiheader {

            .paymentcards {
              font-size: 21px;
            
          }
        }


        .maincolumn {

            .dropdowncolumn {
                width: 100%;
            }



         .row {

           .column1 {
           
              .headings {
                  font-size: 13px;
                  }

               .dropdown-content {
                .cardnumber {
                    font-size: 8px;
            }
               }

             .cardgroup {
                            
                    .wepng {
                        width: 20px;
                        margin-right: 1px;

                        font-size: 13px;
                        }
                     }

             .show {
                    padding: 0;
                    margin-top: 26px;

                }



                .inputbox {
                    width: 112%;
                }

                    
                    

                }

            .column2 {
                    margin-bottom: 60px;
                    width: 84%;

                .smallheader {
                    font-size: 10px;
                }
                

                .depositgroup select {
                    font-size: 9px;
                }

                .amountgroup {
                    .amount {
                        width: 93px;
                    }
                }
            }

            }
        }
      }

      
}







@media only screen and (max-width: 400px) {

    .headersection {
      .avatar {
          margin-top: 16px;
          width: 16px;
          height: 16px;
      }
  
      .notification {
          margin-right: 9px;
          margin-top: 19px;
  
          width: 12px;
      }
  
      .whiteheader {
          padding: 5px 58px;
      }
  
      .logo1 {
          left: 39px;
      }
  }

  .middlesection {

    padding-left: 37px;
    padding-right: 35px;

    .navbar a {
      padding: 7px;
    }

    .topminiheader {

        .paymentcards {
            margin-top: 32px;
        }
    }

    .maincolumn  {

        .row  {

            .column1  {

                .headings {
                        font-size: 10px;
                }

                .cardgroup {
                    height: 49px;

                    .wepng {
                        width: 16px;
                        margin-top: 0;
                    }

                    .pay {
                        width: 80%;
                    }
                }

                .show {
                    width: 64%;
                    margin-left: -9.7%;
                }
               
            }

            .column2 {
                margin-top: 49px;

                .depositgroup select {
                    font-size: 6px;
                }

                .amountgroup {
                    .amount {
                        width: 75px;
                    }
                }

                .confirmation {
                    font-size: 8px;
                }
            }
        }
     }


  }


  .footersection {
    .headings {
        font-size: 15px;
    }

    .links a {
        font-size: 12px;
    }

    .footer-col {
        width: 28%;
    }

    .latest {
        font-size: 10px;
    }

    .copyright {
        font-size: 6px;
    }
}



}