* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  width: 100vw !important;
  overflow-y: scroll;
}

body {
  width: 100%;
  margin: 0;
}

.a:-webkit-any-link {
  text-decoration: none;
  color: #ffffff;
}

.middlesection {
  background-color: #E5E5E5;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-left: 109px;
  padding-right: 50px;
  /* Style the navigation bar */
  /* Navbar links */
  /* Navbar links on mouse-over */
  /*navbar in the column */
  /* for the main column */
}

.middlesection .navbar {
  width: 100%;
  overflow: auto;
  padding-top: 5px;
}

.middlesection .navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: #A9A9A9;
  text-decoration: none;
  font-size: 17px;
}

.middlesection .navbar a:hover {
  background-color: #000;
}

.middlesection .fa-chevron-right:before {
  margin-left: 25px;
}

.middlesection .topminiheader {
  background-color: #ffffff;
  margin-top: -27px;
}

.middlesection .topminiheader .paymentcards {
  font-size: 25px;
  padding: 10px;
  padding-left: 25px;
  padding-top: 35px;
  margin-bottom: 0px;
  font-weight: 600;
}

.middlesection .maincolumn {
  background-color: #ffffff;
  margin-left: 0px;
  margin-right: 0px;
  /* Create two equal columns that floats next to each other */
  /* Clear floats after the columns */
}

.middlesection .maincolumn .column {
  float: left;
  padding: 10px;
  height: 300px;
  /* Should be removed. Only for demonstration */
}

.middlesection .maincolumn .row:after {
  content: "";
  display: table;
  clear: both;
}

.middlesection .maincolumn .row .column1 {
  background-color: #ffffff;
  border: 1px solid #D1D5DB;
  border-radius: 11px;
  margin-left: 26px;
  margin-top: 8px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 46%;
  padding: 0;
  margin-bottom: 20%;
  /* The container <div> - needed to position the dropdown content */
  /* Dropdown Content (Hidden by Default) */
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
}

.middlesection .maincolumn .row .column1 .headings {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  border: none;
  background-color: inherit;
}

.middlesection .maincolumn .row .column1 .cardgroup {
  display: block;
  margin-top: 0px;
  height: 69px;
  width: 100%;
  margin-left: 0;
  border-bottom: 1px solid #D1D5DB;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 20px;
}

.middlesection .maincolumn .row .column1 .cardgroup .card {
  display: inline-block;
  margin-top: 20px;
}

.middlesection .maincolumn .row .column1 .cardgroup .pay {
  display: inline-block;
  width: 86%;
}

.middlesection .maincolumn .row .column1 .cardgroup .wepng {
  display: inline-block;
  margin-top: -8px;
  float: right;
  margin-right: 14px;
}

.middlesection .maincolumn .row .column1 .cardgroup:hover {
  background-color: #F7F9FF;
}

.middlesection .maincolumn .row .column1 .dropdown {
  display: inline-block;
}

.middlesection .maincolumn .row .column1 .dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  /* Create two equal columns that floats next to each other */
  /* Clear floats after the columns */
}

.middlesection .maincolumn .row .column1 .dropdown-content .dropdowncolumn {
  float: left;
  padding: 10px;
  width: 100%;
}

.middlesection .maincolumn .row .column1 .dropdown-content .dropdowncolumn .dropdowncolumn1 {
  width: 60%;
}

.middlesection .maincolumn .row .column1 .dropdown-content .dropdowncolumn .dropdowncolumn2 {
  width: 40%;
}

.middlesection .maincolumn .row .column1 .dropdown-content .dropdownrow:after {
  content: "";
  display: table;
  clear: both;
}

.middlesection .maincolumn .row .column1 .dropdown-content .cardnumber {
  color: #374151;
  font-size: 12px;
  margin: 0;
  margin-bottom: 3px;
}

.middlesection .maincolumn .row .column1 .dropdown-content .inputbox {
  border: 1px solid #D1D5DB;
  border-radius: 4px;
  width: 55%;
}

.middlesection .maincolumn .row .column1 .dropdown-content .inputlabel2 {
  float: right;
  width: 40%;
  margin-top: -17px;
}

.middlesection .maincolumn .row .column1 .show {
  display: block;
  width: 38.6%;
  margin-left: -3.7%;
  margin-top: 15px;
  background-color: transparent;
  padding: 17px;
}

.middlesection .maincolumn .row .column2 {
  margin-left: 20px;
  border-radius: 11px;
  border: 1px solid #D1D5DB;
  margin-top: 9px;
  background-color: #ffffff;
  width: 41%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-right: 55px;
  padding: 22px;
}

.middlesection .maincolumn .row .column2 .depositgroup .deposit {
  color: #000000;
  font-weight: 600;
}

.middlesection .maincolumn .row .column2 .depositgroup select {
  float: right;
  padding: 5px;
  border-radius: 4px;
  background-color: #ffffff;
  border: 1px solid #D1D5DB;
}

.middlesection .maincolumn .row .column2 .amountgroup {
  margin-top: 25px;
}

.middlesection .maincolumn .row .column2 .amountgroup .depositamount {
  color: #000000;
  font-weight: 600;
}

.middlesection .maincolumn .row .column2 .amountgroup .amount {
  width: 124px;
  float: right;
  padding: 5px;
  border-radius: 4px;
  background-color: #ffffff;
  border: 1px solid #D1D5DB;
}

.middlesection .maincolumn .row .column2 .processgroup {
  margin-top: 30px;
  font-weight: 600;
}

.middlesection .maincolumn .row .column2 .processgroup .process {
  display: inline-block;
}

.middlesection .maincolumn .row .column2 .processgroup .price {
  display: inline-block;
  float: right;
}

.middlesection .maincolumn .row .column2 .totalgroup {
  margin-top: 2px;
  font-weight: 600;
}

.middlesection .maincolumn .row .column2 .totalgroup .total {
  display: inline-block;
}

.middlesection .maincolumn .row .column2 .totalgroup .totalamount {
  float: right;
  display: inline-block;
}

.middlesection .maincolumn .row .column2 .confirmation {
  width: 100%;
  padding: 12px;
  border: none;
  color: #ffffff;
  font-weight: 600;
  background-color: #386DF5;
  border-radius: 5px;
  margin-bottom: 62px;
}

.middlesection .maincolumn .row .column2 .confirmation:hover {
  background-color: #092a7c;
}

@media only screen and (max-width: 900px) {
  .middlesection {
    padding-left: 52px;
  }
  .middlesection .navbar a {
    font-size: 14px;
  }
  .middlesection .maincolumn .row .column1 {
    margin-bottom: 3%;
    width: 73%;
  }
  .middlesection .maincolumn .row .column1 .dropdown-content .column {
    width: 100%;
  }
  .middlesection .maincolumn .row .column1 .dropdown-content .cardnumber {
    font-size: 14px;
  }
  .middlesection .maincolumn .row .column1 .dropdown-content .inputbox {
    width: 53%;
    height: 25px;
  }
  .middlesection .maincolumn .row .column1 .show {
    width: 67%;
    margin-left: -5.7%;
  }
  .middlesection .maincolumn .row .column2 {
    margin-bottom: 60px;
    width: 60%;
  }
}

@media only screen and (max-width: 600px) {
  .middlesection .navbar a {
    font-size: 13px;
  }
  .middlesection .topminiheader .paymentcards {
    font-size: 21px;
  }
  .middlesection .maincolumn .dropdowncolumn {
    width: 100%;
  }
  .middlesection .maincolumn .row .column1 .headings {
    font-size: 13px;
  }
  .middlesection .maincolumn .row .column1 .dropdown-content .cardnumber {
    font-size: 8px;
  }
  .middlesection .maincolumn .row .column1 .cardgroup .wepng {
    width: 20px;
    margin-right: 1px;
    font-size: 13px;
  }
  .middlesection .maincolumn .row .column1 .show {
    padding: 0;
    margin-top: 26px;
  }
  .middlesection .maincolumn .row .column1 .inputbox {
    width: 112%;
  }
  .middlesection .maincolumn .row .column2 {
    margin-bottom: 60px;
    width: 84%;
  }
  .middlesection .maincolumn .row .column2 .smallheader {
    font-size: 10px;
  }
  .middlesection .maincolumn .row .column2 .depositgroup select {
    font-size: 9px;
  }
  .middlesection .maincolumn .row .column2 .amountgroup .amount {
    width: 93px;
  }
}

@media only screen and (max-width: 400px) {
  .middlesection {
    padding-left: 37px;
    padding-right: 35px;
  }
  .middlesection .navbar a {
    padding: 7px;
  }
  .middlesection .topminiheader .paymentcards {
    margin-top: 32px;
  }
  .middlesection .maincolumn .row .column1 .headings {
    font-size: 10px;
  }
  .middlesection .maincolumn .row .column1 .cardgroup {
    height: 49px;
  }
  .middlesection .maincolumn .row .column1 .cardgroup .wepng {
    width: 16px;
    margin-top: 0;
  }
  .middlesection .maincolumn .row .column1 .cardgroup .pay {
    width: 80%;
  }
  .middlesection .maincolumn .row .column1 .show {
    width: 64%;
    margin-left: -9.7%;
  }
  .middlesection .maincolumn .row .column2 {
    margin-top: 49px;
  }
  .middlesection .maincolumn .row .column2 .depositgroup select {
    font-size: 6px;
  }
  .middlesection .maincolumn .row .column2 .amountgroup .amount {
    width: 75px;
  }
  .middlesection .maincolumn .row .column2 .confirmation {
    font-size: 8px;
  }
}
/*# sourceMappingURL=bankaccount.css.map */