* {
    box-sizing: border-box;
}
html {
    width: 100vw !important;

    overflow-y: scroll;

}
body {
    width: 100%;

    margin: 0;
}



    .headersection {
    
            background-color: #ffffff;
            overflow: hidden;
            padding: 12 10 12 10px;

    }
/* Style the links inside the navigation bar */
      .logo1 {
        position: absolute;
        width: 28px;
        left: 106px;
        top: 28px;
    }
    
    .logo {
        left: 50px;
    }
    
    .workinghammer {
        color: #000000;
        font-size: 19px;
        font-family: Inter;
        font-weight: 700;
        font-style: normal;
        line-height: 24px;
        letter-spacing: 0em;
        margin: 0;
        margin-top: 18px;
        margin-left: 12px;
    }
    
    
      .headersection .whiteheader {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 125px;
        text-decoration: none;
        font-size: 17px;
      }
      
    
  

    
      
      /* Hide the link that should open and close the topnav on small screens */
      .headersection .icon {
        display: none;
      }
    

      .myTopnav {
        margin-top: 59px;
        margin-right: 20px;
    }
    
    
        /* for post ad, notifications and avatar */
        .postad {
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            border-radius: 3px;
            color: #ffffff;
            background-color: #386DF5;
            border: none;
            float: right;
            margin-right: 131px;
            margin-top: -41px;
        }
    
        .postad:hover {
            background-color: #092a7c;
        }
    
    
        .notification {
            color: #808080;
            float: right;
            margin-top: -32px;
            margin-right: 89px;
        }


    
        .avatar {
            
            vertical-align: middle;
            float: right;
            margin-top: -41px;
            margin-right: 31px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
    
          }



/* for the middlesection */


.middlesection {
    background-color: #E5E5E5;
    height: fit-content;

    padding-left: 109px;
    padding-right: 50px;

      /* Style the navigation bar */
.navbar {
    width: 100%;
    overflow: auto;
    padding-top: 5px;
  }
  
  /* Navbar links */
  .navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: #A9A9A9;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Navbar links on mouse-over */
  .navbar a:hover {
    background-color: #000;
  }

  .fa-chevron-right:before {
      margin-left: 25px;
  }
}


.topminiheader {
    background-color: #ffffff;
    margin-top: -21px;
    border-bottom: solid 1px #808080;
    .postad2 {
        font-size: 25px;

        padding: 10px;
        padding-left: 25px;
        padding-top: 32px;

        margin-bottom: 0px;

        font-weight: 600;
    }

    .hiretalent2 {
        display: inline-block;

        margin-left: 31px;
        margin-right: 33px;

        color: #6B7280;
    }

    .findwork2 {
        display: inline-block;

        color: #6B7280;
    }

    .active {
        color: #386DF5;
        text-decoration: underline;
        text-underline-offset: 0.9em;
    }

    .hiretalent2:hover {
        color: #092a7c;
    }

    .findwork2:hover {
        color: #386DF5;
        text-decoration: underline;
        text-underline-offset: 0.9em;
    }
}





.maincontent {
    background-color: #ffffff;
    padding-top: 55px;
    padding-left: 30px;
    padding-right: 30px;

    .title, .tag, .description, .address, 
    .price, .upload {
        display: block;
        color: #374151;
    }

    .titleinput, .selectag, .selectag2, .descriptionbox, .radio1, 
    .addressinput {
        display: block;
        width: 70%;
        margin-top: 5px;
        margin-bottom: 15px;
        padding: 5px;
        border-radius: 5px;
        background-color: #ffffff;
        border: 1px solid #D1D5DB;
    }

    .radio1 {
        background-color: #F7F9FF;
    }
    .radio2 {
        background-color: #ffffff;
    }

    .telework , .meet{
        display: inline-block;
        margin: 0;
    }

    .aboutelework, .local {
        display: block;
        margin: 0;
        margin-left: 23px;
        color: #386DF5;
        font-size: 13px;
    }

    hr {
        color: #C7D2FE;
        width: 102%;
        margin-left: -6px;
    }

    .aboutelework {
        margin-bottom: 10px;
    }

    .local {
        color: #6B7280;
    }
    
  
    .selectag2 {
        width: 30%;
    }

    .photo {
        border: 1px dashed #808080;
        width: 70%;
        border-radius: 10px;
        padding: 30px;
        margin-bottom: 10px;

        img {
            margin-left: 46%;
            margin-top: 15px;
            display: block;
        }

        .mainupload {
            display: inline-block;
            margin: 0;
            margin-left: 32%;
            color: #386DF5;
            
        }

        .mainupload2 {
            display: inline-block;
            color: #4B5563;
            margin: 0;
        }

        .mainupload3 {
            color: #6B7280;
            margin: 0;
            margin-left: 37%;
            margin-top: 10px;
            font-size: 13px;
        }
    }

    .let {
        display: inline-block;
        margin: 0;
        
        color: #6B7280;
        font-size: 12px;
    }

    .toggleswitch {
        background-color: #F6F6F6;
        width: 372px;
        
        border-radius: 84px;
        padding: 23px;
        padding-bottom: 3px;
        white-space: nowrap;

        margin-bottom: 5%;
    }

    .urgent {
        margin: 0;
        margin-bottom: 2px;

        font-size: 14px;
    }


    /* for the slider */
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
      }
      
      .switch input { 
        opacity: 0;
        width: 0;
        height: 0;
      }
      
      .slider {
        position: absolute;
        cursor: pointer;
        top: -29px;
        left: 0;
        right: 0;
        bottom: 29px;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      .slider:before {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        left: 4px;
        bottom: 4px;
        top: 8px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      input:checked + .slider {
        background-color: #2196F3;
      }
      
      input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
      }
      
      input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }
      
      /* Rounded sliders */
      .slider.round {
        border-radius: 34px;
      }
      
      .slider.round:before {
        border-radius: 50%;
      }


      .second {
        color: #E5E7EB;
        width: 100%;

        margin-bottom: 6%;
      }


      .buttons {
        justify-content: center;
        display: flex;

        margin-bottom: 20px;


        .instant {
            border: 1px solid #D1D5DB;
            background-color: #ffffff;

            margin-right: 2%;
            padding: 10px;
            border-radius: 5px;

            color: #374151;
        }


        .ad {
            color: #ffffff;
            background-color: #386DF5;

            border-radius: 5px;
            padding: 10px;
            padding-left: 15px;
            padding-right: 15px;

            border: 0;
        }
      }




}





@media only screen and (max-width: 900px) {
    .headersection {
        .workinghammer {
            font-size: 15px;
        }

        .logo1 {
            width: 22px;
            left: 76px;
            top: 32px;
        }

        .whiteheader {
            padding: 14px 88px;
        }
    
       
    }

    .middlesection {
        padding-left: 82px;

        .topminiheader {
            .postad2 {
                font-size: 20px;
            }

            .hiretalent2, .findwork2 {
                font-size: 15px;
            }


        }

        .maincontent {
            .aboutelework, .local {
                font-size: 7px;
            }

            .telework {
                font-size: 12px;
            }

            .photo {
                img {
                    width: 20px;
                }

                .mainupload {
                    margin-left: 23%;
                    font-size: 12px;
                }

                .mainupload2 {
                    font-size: 12px;
                }

                .mainupload3 {
                    margin-left: 31%;
                    font-size: 10px;
                }
            }

            .toggleswitch {
                border-radius: 52px;
                width: 350px;
                height: 80px;

                .let {
                    font-size: 10px;
                }

                .urgent {
                    font-size: 12px;
                }

            }

            .slider {
                top: -26px;
                left: 47px;
                right: -38px;
                bottom: 30px;
            }
        }
    }


}









@media screen and (max-width: 600px) {

    /* for navigation bar */
    .headersection a:not(:first-child) {display: none;}
    .headersection a.icon {
      float: right;
      display: block;
    }


    .headersection.responsive {position: relative;}
    .headersection.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .headersection.responsive a {
      float: none;
      display: block;
      text-align: left;
    }

 

 

    .headersection {
        padding-bottom: 20px;
    }

    .headersection .whiteheader {
        padding-bottom: 0px;
        top: 10px;
    }

    .postad {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 8px;
        padding-bottom: 8px;
        border-radius: 4px;
        color: #ffffff;
        background-color: #386DF5;
        font-size: 6px;
        border: none;
        float: right;
        margin-right: 15px;
        margin-top: 14px;
    }


    .notification {
        margin-top: 19px;
        margin-right: 15px;
        width: 15px;
    }

    .avatar {
        margin-top: 13px;
        margin-right: 31px;
        width: 20px;
        height: 20px;
    }

    .myTopnav {
        margin-top: 6px;
        margin-right: 0;
    }


    .headersection .logo1 {
        width: 17px;
        left: 53px;
        top: 27px;
    }

    .headersection .workinghammer {
        margin-left: 0;
        font-size: 12px !important;
    }

    .headersection .whiteheader{

        padding: 5px 71px;
    }




    .middlesection {
        padding-left: 56px;

        .navbar a {
            font-size: 11px;
        }

        .fa-chevron-right:before {
            margin-left: 9px;
        }



        .maincontent {
            .title, .tag {
                font-size: 12px;
            }
            ::placeholder {
                font-size: 10px;
            }
            .titleinput, .selectag {
                width: 90%;
            }
    
            .radio1 {
                width: 90%;
            }

            .selectag2 {
                width: 70%;
            }

            .description {
                font-size: 12px;
            }
    
            .photo {
                img {
                    width: 18px;
                }
    
                .mainupload {
                    margin-left: 4%;
                    font-size: 8px;
                }

                .mainupload2 {
                    font-size: 8px;
                }

                .mainupload3 {
                    margin-left: 13%;
                    font-size: 7px;
                }
            }

            .toggleswitch {
                padding: 17px;
                width: 243px;
                height: 63px;

                .urgent {
                    font-size: 10px;
                }

                .let {
                    font-size: 9px;
                }
            }

            .slider {
                top: -22px;
                left: -52px;
                right: 68px;
                bottom: 32px;
            }

            .slider:before {
                top: 4px;
            }

            .buttons {
                .ad {
                    padding-left: 11px;
                    padding-right: 11px;
                    border: 0;
                    font-size: 8px;
                }

                .instant {
                    font-size: 10px;
                    padding: 7px;
                }
            }

        }

    }


}







@media screen and (max-width: 400px) {
    .headersection {
        .avatar {
            margin-top: 16px;
            width: 16px;
            height: 16px;
        }

        .notification {
            margin-right: 9px;
            margin-top: 19px;

            width: 12px;
        }

        .postad {
            padding-left: 6px;
            padding-right: 6px;

            margin-right: 9px;
        }

        .whiteheader {
            padding: 5px 58px;
        }

        .logo1 {
            left: 26px;
        }

        .workinghammer {
            margin-left: -12px;
        }
    }



    .middlesection {
        padding-left: 38px;

        .gridbox {
            margin-left: 47px;
        }

        .navbar a {
            font-size: 11px;
        }

        .fa-chevron-right:before {
            margin-left: 2px;
        }

        .topminiheader {
            .postad2 {
                font-size: 15px;
            }

            .hiretalent2, .findwork2 {
                font-size: 12px;
            }
        }

        .maincontent {
            .photo {
                width: 84%;
            }

            .toggleswitch {
                padding: 12px;
                width: 185px;
                height: 52px;

                .urgent {
                    font-size: 9px;
                }

                .let {
                    font-size: 7px;
                }
            }

            .slider {
                top: -19px;
                left: -43px;
                right: 63px;
                bottom: 32px;
            }

            .slider:before {
                height: 13px;
                width: 13px;
            }
        }

       

    }
}
