
@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&display=swap');

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");



html {
    font-family: 'Inter', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    background-size: cover;
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    overflow-y: visible;
    overflow-x: hidden;
}

.image {
    height: 100%;
    width: fit-content;
    background-size: cover;


    /* to blur the image */
    filter: blur(1.5px) brightness(45%);

    /*to place other elements on the image*/
    position: absolute;
    z-index: 0;

}


/* for the navigation bar*/
.nav-container {
    width: 100%;
    position: absolute;
    z-index: 2;
    top: 2px;

}

.nav-items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;

    position: relative;
    height: 42px;
    right: 48px;
    top: -35px;
}
ul {
    float: right;
}

li {
    display: inline;
}

.signup {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 7px 7px;

    position: static;
    width: 92px;
    height: 42px;
    left: 174px;
    top: 0px;

    background: #386DF5;
    color: #ffffff;
    text-decoration: none;
    /* /shadow/base */

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
    border-radius: 4px;

    /* Inside Auto Layout */

    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 0px;
}

.items {
    position: static;
    width: 92px;
    height: 24px;
    left: 90px;
    top: 9px;
    
    /* text-base/leading-6/font-medium */
    
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    /* identical to box height, or 150% */
    
    
    color: #FFFFFF;
    
    
    /* Inside Auto Layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 20px;  
}

.signin {
    margin: 0px 20px;
}

/* for the logo*/

.logo {
    left: 50px;
}

.workinghammer {
    color: #ffffff;
    font-size: 20px;
    font-family: Inter;
    font-weight: 700;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin-left:  60px;
    margin-top: 44px;
}

.logo1 {
    position: absolute;
    width: 45.8px;
    height: 45.8px;
    left: 1%;
    top: 35px;
}


/* for the header */
.header {
    z-index: 2;
    position: absolute;
    top: 170px;
    left: 200px;

}

.mainheader {

    width: 1152px;
    height: 60px;

    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 60px;
    /* identical to box height, or 100% */

    letter-spacing: -0.025em;
    /* white */

    color: #ffffff;
}

.words {
    width: 500px;
    height: 84px;

    /* text-xl/leading-7/font-normal */

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    /* or 140% */


    color: #FFFFFF;
}


/*for find work & hire talent*/

.whattodo {
    position: absolute;
    z-index: 2;
    width: 38%;
    height: 76px;
    left: 195px;
    top: 390px;

    background: #18191B;
    mix-blend-mode: multiply;
    opacity: 0.6;
    box-shadow: 0px 8px 28px rgba(0, 0, 0, 0.863);
    border-radius: 47px;
}

.working {
    position: absolute;
    z-index: 2;
    width: 34%;
    height: 76px;
    left: 195px;
    top: 390px;
}

 .findwork {
    display: flex;

    flex-direction: row;
    justify-content: center;

    align-items: center;
    padding: 17px 41px;

    z-index: 3;
    width: 160px;
    height: 62px;
    margin-left: 9px;
    margin-top: 7px;

    background: #386DF5;
    border-color: #386DF5;
    color: #ffffff;
    opacity: 1;
    /* /shadow/base */

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
    border-radius: 167px;
}

.hiretalent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    z-index: 3;
    margin-left: 206px;
    margin-top: -42px;

    color: #ffffff;
    opacity: 1;
    background-color: inherit;

    border-width: 0px;
}


/*for the search box*/
.searchbox {
    background-color: #ffffff;
    z-index: 999;
    position: absolute;
    width: 70%;
    height: 58px;
    top: 481px;
    margin: auto;
    left: 203px;
    border-radius: 4px;
}

.searchitems {
    display: inline-block;
}

.search {
    position: absolute;

    width: 24%;
    height: 59px;

    margin-left: -24%;

    background: #386DF5;
    color: #ffffff;
    text-align: center;

    box-shadow: 0px 1px 3px rgb(0 0 0 / 10%), 0px 1px 2px rgb(0 0 0 / 6%);
    border-radius: 4px;
}

.searchword {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    margin-top: 14px;
}

.searchkey {
    position: absolute;
    left: 42px;
    top: 20px;

    color: #6B7280;

}

.imageicon {
    top: 20px;
    position: absolute;
    left: 21px;

    color: #6B7280;

}

.location {
    position: absolute;
    left: 258px;
    top: 18px;

    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    
    color: #6B7280;


}

.locationicon {
    top: 18px;
    position: absolute;
    left: 236px;

    color: #6B7280;

}

/*for the sign in and sign up buttons */
.popup {
    cursor: pointer;

}

.popup:hover {
    position: static;
    width: 92px;
    height: 42px;
    left: 160px;
    top: 0px;

    padding: 7px 7px;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
    border-radius: 4px;

    background-color: #002ea3;
    backdrop-filter: blur(2px);
}




button, .signin {
    background: none;
	color: #ffffff;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.top-section {
  height: 100%;
}




/* for map section */
.mapsection {
    width: vw;
    position: relative;

    background-color: #EFEFEF;
}

iframe {
    width: 100%;
    height: 700px;
}

.mapouter {
    position: relative;
    text-align: right;
    height: 700px;
    width: 100%;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 700px;
    width: 100%;

}

