.gridsection {
  background-color: #E5E5E5;
  padding-bottom: 50px;
}

.grid {
  padding: 5px;
  margin-right: 20%;
  display: -ms-grid;
  display: grid;
  grid-gap: 1px;
  background-color: #E5E5E5;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

@media (min-width: 768px) {
  .grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.grid .col {
  margin-bottom: 16px;
  padding: 5px;
  margin-top: 20px;
}

.images {
  display: block;
  width: 100%;
  height: 75%;
  border-radius: 5px;
}

.fa {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 20px;
  color: #6B7280;
}

.stars {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 20px;
  color: #6B7280;
  margin-top: -7px;
}

.image1, .image4 {
  margin-left: 20px;
}

.task {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  color: #333333;
  margin-top: 10px;
}

.price {
  font-family: Titillium Web;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  color: #333333;
  margin-top: -8px;
}

.date {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 17px;
  color: #6B7280;
}

.published {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  padding-top: 10px;
  margin-left: 30px;
  margin-bottom: -18px;
}

/* for the footer section */
.footersection {
  background-color: #202426;
  width: 100%;
  padding: 69px 80px 28px 11px;
  color: #ffffff;
}

.footersection .container {
  margin: auto;
  margin-left: 6%;
}

.footersection .list {
  list-style: none;
  position: inherit;
  padding: 0px;
}

.footersection .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footersection .footer-col {
  width: 15%;
  padding: 0 10px;
  margin-bottom: 20px;
}

.footersection .footer-column {
  width: 25%;
  padding: 0 10px;
}

.footersection .headings {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #9CA3AF;
  position: relative;
  cursor: pointer;
}

.footersection li {
  display: block;
}

.footersection ul {
  float: none;
}

.footersection .links {
  text-decoration: none;
  position: relative;
}

.footersection .links a {
  text-decoration: none;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #D1D5DB;
}

.footersection .latest {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  margin-bottom: 15px;
  color: #D1D5DB;
}

.footersection .enter {
  height: 33px;
  border-radius: 7px;
  width: 154px;
  padding: 10px;
}

.footersection .subscribe {
  font-size: 12px;
  padding: 9px 9px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  background-color: #002ea3;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  cursor: pointer;
}

.footersection .subscribe:hover {
  background-color: #092a7c;
}

.footersection hr {
  color: #4B5563;
  width: 92%;
  margin-left: 1%;
  margin-right: 7.5%;
}

.footersection .copyright {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  margin-left: 1%;
  line-height: 24px;
  margin-top: 25px;
  color: #9CA3AF;
  display: inline-block;
}

.footersection .social-links {
  float: right;
  margin-right: 10%;
  margin-top: 25px;
}

.footersection .social-links img {
  width: 25px;
  height: 25px;
  padding: 5px;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 41%;
  height: 53%;
  margin-top: 20%;
  border-radius: 10px;
}

/* for modal content */
input {
  width: 50%;
  display: block;
  margin: 15px auto;
}

/* Sign in to your account */
.account-signin {
  position: static;
  width: 311px;
  height: 36px;
  left: 0px;
  top: 0px;
  font-family: Lora;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 36px;
  /* identical to box height, or 129% */
  text-align: center;
  color: #111827;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin: 8px -17px 0px;
}

.bluehammer {
  width: 10%;
  height: 6%;
  margin-top: 21px;
}

.sign-in-with {
  position: static;
  width: 78px;
  height: 20px;
  left: 0px;
  top: 0px;
  /* text-sm/leading-5/font-medium */
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 20px;
  /* identical to box height, or 143% */
  /* gray/900 */
  color: #111827;
  /* Inside Auto Layout */
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin: 45px 0px 0px 0px;
}

.facebook-icon {
  color: #808080;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

button .facebook-icon {
  padding: 6px 2px;
  width: 119px;
  margin-top: -4px;
  height: 39px;
  margin-left: -16px;
  border-radius: 3px;
  border: solid 1px #808080;
}

.google-icon {
  color: #808080;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  font-weight: 700;
}

button .google-icon {
  padding: 6px 42px 2px;
  width: 119px;
  margin-top: -4px;
  margin-left: -29px;
  height: 39px;
  border-radius: 3px;
  border: solid 1px #808080;
}

.twitter-icon {
  color: #808080;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  font-weight: 700;
}

button .twitter-icon {
  padding: 6px 42px 2px;
  width: 119px;
  margin-top: -4px;
  margin-left: -29px;
  height: 39px;
  border-radius: 3px;
  border: solid 1px #808080;
}

h3 {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #808080;
  line-height: 0.1em;
  margin: 10px 0 20px;
  color: #808080;
  margin-top: 17px;
}

h3 span {
  background: #fff;
  padding: 0 10px;
  color: #808080;
  font-size: 12px;
}

label {
  font-size: 10px;
  color: #808080;
  font-weight: 200;
}

.input {
  margin: 2px 0px 0px 0px;
  width: 93%;
  height: 28px;
  border-radius: 4px #808080;
}

.emailbox {
  margin-bottom: 4px;
}

.namelabel {
  margin-top: 4px;
}

.remember {
  display: inline-block;
  margin: 18px 10px 0px 0px;
  width: 7%;
}

.forgot {
  text-decoration: none;
  color: #386DF5;
  margin-left: 31%;
}

.signinbutton {
  display: block;
  border-radius: 38px;
  color: #ffffff;
  margin: 8px;
  padding: 10px 110px;
  background-color: #254caf;
  cursor: pointer;
}

.signinbutton:hover {
  background-color: #254CAF;
}

.signupbutton {
  display: block;
  border-radius: 38px;
  color: #386DF5;
  margin: 8px;
  padding: 10px 110px;
  background-color: #ffffff;
  cursor: pointer;
}

.signupbutton:hover {
  background-color: #386DF5;
  color: #ffffff;
}

@media only screen and (min-width: 1200px) {
  .footersection .latest {
    font-size: 15px;
  }
  .footersection .footer-column {
    width: 30%;
  }
}

@media only screen and (max-width: 900px) {
  .whattodo {
    width: 33%;
    height: 64px;
    left: 14%;
    top: 68%;
  }
  .header {
    left: 12%;
  }
  .working {
    left: 14%;
    top: 68%;
    font-size: 10px;
    width: 40%;
  }
  .mainheader {
    font-size: 43px;
    margin-left: 53px;
  }
  .words {
    width: 70%;
    font-size: 11px;
    margin-top: 1%;
    margin-left: 6%;
    line-height: 17px;
  }
  .footersection .footer-col {
    width: 33%;
    padding: 0 23px;
  }
  .footersection .footer-column {
    width: 91%;
    margin-bottom: 30px;
  }
  .footersection .social-links img {
    width: 10px;
    height: 10px;
    padding: 0px;
  }
}

@media only screen and (max-width: 600px) {
  .items {
    display: none;
  }
  .login {
    visibility: visible;
    top: 20px;
  }
  .nav-item {
    margin-top: -4%;
  }
  .fa {
    color: #ffffff;
  }
  .findwork {
    padding: 17px 11px;
  }
  .mainheader {
    font-size: 29px;
    margin-left: 12px;
  }
  .locationicon {
    display: none;
  }
  .location {
    display: none;
  }
  .searchword {
    font-size: 14px;
  }
  .working {
    font-size: 8px;
    width: 38%;
    top: 66%;
  }
  .hiretalent {
    margin-top: -20px;
  }
  .whattodo {
    height: 47px;
    top: 67%;
  }
  .findwork {
    margin-left: 7px;
    height: 33%;
  }
}

@media only screen and (max-width: 400px) {
  .mainheader {
    font-size: 26px;
  }
  .footersection .headings {
    font-size: 15px;
  }
  .footersection .links a {
    font-size: 12px;
  }
  .footersection .footer-col {
    width: 28%;
  }
  .footersection .latest {
    font-size: 10px;
  }
  .footersection .copyright {
    font-size: 6px;
  }
}
/*# sourceMappingURL=main.css.map */