body, html {
  height: 100%;
  width: 100%;
  margin: 0;
}

.topsection {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.bg-image {
  /* The image used */
  background-image: url("/assets/images/manwithmower.png");
  /* Full height */
  height: 100vh;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* to blur the image */
  -webkit-filter: blur(1.5px) brightness(45%);
          filter: blur(1.5px) brightness(45%);
}

/* For the page */
.page-container {
  background-color: transparent;
  color: white;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  /* for the signup, signin, post ad buttons */
  /* for the elements on the topsection */
  /* for the lower section of the top page */
  /*for find work & hire talent*/
}

.page-container .buttons {
  background-color: #386DF5;
  border: transparent;
  margin-top: 32px;
  margin-right: 6px;
  font-size: 14px !important;
}

.page-container .buttons:hover {
  background-color: #092a7c;
}

.page-container .signup {
  background-color: transparent;
}

.page-container .signin {
  background-color: transparent;
}

.page-container .header {
  margin-top: 4%;
}

.page-container .header .mainheader {
  font-family: Lora;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
  letter-spacing: -0.025em;
  margin-bottom: 12px;
  color: #FFFFFF;
}

.page-container .header .words {
  font-family: Aleo;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  width: 60%;
  line-height: 19px;
  color: #FFFFFF;
  opacity: 0.8;
}

.page-container .forwho {
  display: inline-block;
  background: #18191B;
  mix-blend-mode: multiply;
  opacity: 0.6;
  -webkit-box-shadow: 0px 8px 28px rgba(0, 0, 0, 0.863);
          box-shadow: 0px 8px 28px rgba(0, 0, 0, 0.863);
  border-radius: 47px;
  width: 216px;
  height: 62px;
  border-radius: 30px;
  float: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-top: 4px;
  padding-left: 5px;
  margin-left: 22%;
  margin-top: 52px;
}

.page-container .forwho .client {
  color: #ffffff;
  background-color: #386DF5;
  border: none;
  border-radius: 30px;
  font-size: 15px;
  height: 52px;
  width: 50%;
}

.page-container .forwho .client:hover {
  background-color: #244eb9;
}

.page-container .forwho .worker {
  border: none;
  color: #ffffff;
  background-color: transparent;
  padding: 11px;
  margin-left: -4px;
  border-radius: 24px;
  font-size: 14px;
}

.page-container .forwho .worker:hover {
  background-color: #c7c8ca;
}

.page-container .searchbox {
  /* for the search boxes */
}

.page-container .searchbox .searchitems {
  margin-top: 128px;
  margin-left: 22%;
  margin-bottom: 70px;
  padding-bottom: 49px;
}

.page-container .searchbox .searchitems .searchkey {
  padding: 16px;
  border-radius: 7px;
  border: none;
  width: 30%;
}

.page-container .searchbox .searchitems .location {
  padding: 16px;
  border-radius: 7px;
  border: none;
  width: 30%;
  margin-left: -15px;
}

.page-container .searchbox .searchitems .search {
  background-color: #386DF5;
  border: none;
  color: #ffffff;
  font-size: 19px;
  border-radius: 9px;
  width: 18%;
  padding: 15px;
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
  margin-left: -9px;
}

.page-container .searchbox .searchitems .search:hover {
  background-color: #002ea3;
}

.page-container .searchbox .searchitems h6 {
  margin: 0;
}

/* for thr navigation bar */
.topnav {
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav .topheader {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 8px 14px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Change the color of links on hover */
.signup .signin:hover {
  background-color: #002ea3;
  color: #ffffff;
}

/* Add an active class to highlight the current page */
.topnav .topheader.active {
  background-color: #04AA6D;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

.logo {
  width: 66%;
}

.logo1 {
  margin-left: 25px;
  margin-top: 28px;
  width: 32px;
  height: 32px;
}

.workinghammer {
  font-size: 20px;
  margin-top: 32px;
  font-family: Arvo;
  font-style: normal;
  font-weight: bold;
  line-height: 25px;
  color: #FFFFFF;
}

/* for the elements on the topsection */
.header {
  text-align: center;
  margin-top: 11%;
}

.mainheader {
  font-family: Lora;
  font-style: normal;
  font-weight: bold;
  font-size: 49px;
  line-height: 64px;
  text-align: center;
  letter-spacing: -0.025em;
  margin-bottom: 12px;
  color: #FFFFFF;
}

.words {
  font-family: Aleo;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  width: 65%;
  margin: auto;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  opacity: 0.8;
}

/* for the lower section of the top page */
/* for the search boxes */
.searchitems {
  margin-top: 144px;
  margin-left: 122px;
}

.searchitems .searchkey {
  padding: 16px;
  border-radius: 7px;
  border: none;
  width: 30%;
}

.searchitems .location {
  padding: 16px;
  border-radius: 7px;
  border: none;
  width: 30%;
  margin-left: -15px;
}

.searchitems .search {
  background-color: #386DF5;
  border: none;
  color: #ffffff;
  font-size: 19px;
  border-radius: 9px;
  width: 18%;
  padding: 15px;
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
  margin-left: -9px;
}

.searchitems h6 {
  margin: 0;
}

/* for the grid section */
.gridsection {
  background-color: #E5E5E5;
  padding-bottom: 50px;
  margin-top: -22px;
}

.grid {
  padding: 5px;
  width: 80%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  grid-gap: 1px;
  background-color: #E5E5E5;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

@media (min-width: 768px) {
  .grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.grid .col {
  margin-bottom: 72px;
  padding: 5px;
  margin-top: 20px;
}

.images {
  display: block;
  width: 100%;
  height: 75%;
  border-radius: 5px;
}

.fa {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 20px;
  color: #6B7280;
}

.stars {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 20px;
  color: #6B7280;
  margin-top: -7px;
}

.image1, .image4 {
  margin-left: 20px;
}

.task {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  color: #333333;
  margin-top: 10px;
  margin-bottom: 0;
}

.price {
  font-family: Titillium Web;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  color: #333333;
  margin-top: -8px;
}

.date {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 17px;
  color: #6B7280;
}

.published {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  width: 80%;
  margin: auto;
  margin-left: 12%;
  padding-top: 31px;
}

/* for the signup button and pop up modal */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 999;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  /* Modal Content/Box */
}

.modal .modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 37%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 13%;
  border-radius: 5px;
  /* for the signup, signin, post ad buttons */
}

.modal .modal-content form {
  padding: 5% 10%;
}

.modal .modal-content .sign-in-with {
  margin-top: 27px;
  margin-bottom: 2px;
  font-size: 12px;
  color: #111827;
}

.modal .modal-content .bluehammer {
  width: 24px;
}

.modal .modal-content h2 {
  font-size: 18px;
  margin-top: 10px;
}

.modal .modal-content .icons {
  color: #6B7280;
  background-color: #ffffff;
  padding: 3px 35px 3px 35px;
  border: 1px solid #D1D5DB;
  border-radius: 3px;
}

.modal .modal-content h3 {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #D1D5DB;
  line-height: 0.1em;
  margin: 10px 0 20px;
  color: #D1D5DB;
  margin-top: 17px;
}

.modal .modal-content h3 span {
  background: #fff;
  padding: 0 10px;
  color: #808080;
  font-size: 10px;
}

.modal .modal-content label {
  font-size: 10px;
  color: #808080;
  font-weight: 200;
}

.modal .modal-content .input {
  margin: 2px 0px 0px 0px;
  width: 93%;
  height: 28px;
  border-radius: 1px #D1D5DB;
}

.modal .modal-content .emailbox {
  margin-bottom: 4px;
}

.modal .modal-content .namelabel {
  margin-top: 4px;
}

.modal .modal-content .remember {
  display: inline-block;
  margin: 18px 10px 0px 0px;
  width: 7%;
}

.modal .modal-content .forgot {
  text-decoration: none;
  color: #386DF5;
  margin-left: 31%;
}

.modal .modal-content .signinbutton {
  display: block;
  border-radius: 38px;
  color: #ffffff;
  margin: 8px;
  padding: 10px 110px;
  background-color: #254caf;
  cursor: pointer;
  border: none;
}

.modal .modal-content .signinbutton:hover {
  background-color: #254CAF;
}

.modal .modal-content .signupbutton {
  display: block;
  border-radius: 38px;
  color: #386DF5;
  margin: 8px;
  padding: 10px 110px;
  background-color: #ffffff;
  cursor: pointer;
  border: none;
}

.modal .modal-content .signupbutton:hover {
  background-color: #386DF5;
  color: #ffffff;
}

.modal .modal-content .buttons {
  background-color: #386DF5;
  border: transparent;
  margin-top: 32px;
  margin-right: 6px;
  font-size: 15px !important;
}

.modal .modal-content .buttons:hover {
  background-color: #092a7c;
}

.modal .modal-content .signup {
  background-color: transparent;
}

.modal .modal-content .signin {
  background-color: transparent;
}

/* for the signup, signin, post ad buttons */
.buttons {
  background-color: #386DF5;
  border: transparent;
  margin-top: 32px;
  margin-right: 6px;
  font-size: 15px !important;
}

.buttons:hover {
  background-color: #092a7c;
}

.signup {
  background-color: transparent;
}

.signin {
  background-color: transparent;
}

/* for the footer section */
.footersection {
  background-color: #202426;
  padding: 69px 80px 28px 11px;
  color: #ffffff;
}

.footersection .container {
  margin: auto;
  margin-left: 6%;
}

.footersection .list {
  list-style: none;
  position: inherit;
  padding: 0px;
}

.footersection .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footersection .footer-col {
  width: 15%;
  padding: 0 10px;
  margin-bottom: 20px;
}

.footersection .footer-column {
  width: 27%;
  padding: 0 10px;
}

.footersection .headings {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #9CA3AF;
  position: relative;
  cursor: pointer;
}

.footersection li {
  display: block;
}

.footersection ul {
  float: none;
}

.footersection .links {
  text-decoration: none;
  position: relative;
}

.footersection .links a {
  text-decoration: none;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #D1D5DB;
}

.footersection .latest {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  margin-bottom: 15px;
  color: #D1D5DB;
}

.footersection .enter {
  height: 33px;
  border-radius: 7px;
  width: 154px;
  padding: 10px;
  float: left;
}

.footersection .subscribe {
  font-size: 12px;
  padding: 9px 9px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  border: none;
  background-color: #002ea3;
  color: #ffffff;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  cursor: pointer;
  float: left;
  margin-left: 9px;
}

.footersection .subscribe:hover {
  background-color: #092a7c;
}

.footersection hr {
  color: #4B5563;
  width: 92%;
  margin-left: 1%;
  margin-right: 7.5%;
}

.footersection .copyright {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  margin-left: 1%;
  line-height: 24px;
  margin-top: 25px;
  color: #9CA3AF;
  display: inline-block;
}

.footersection .social-links {
  float: right;
  margin-right: 10%;
  margin-top: 25px;
}

.footersection .social-links img {
  width: 25px;
  height: 25px;
  padding: 5px;
}

@media only screen and (min-width: 1200px) {
  .page-container .logo {
    width: 66%;
  }
  .page-container .topnav .topheader {
    padding: 20px 20px;
  }
  .page-container .buttons {
    font-size: 20px;
  }
  .page-container .header {
    margin-top: 15%;
  }
  .page-container .header .mainheader {
    font-size: 81px;
    margin-bottom: 51px;
  }
  .page-container .header .words {
    font-size: 26px;
    line-height: 28px;
  }
  .topnav .topheader {
    padding: 20px 20px;
  }
  .gridsection .published {
    font-size: 25px;
    padding-top: 60px;
  }
  .gridsection .task {
    font-size: 20px;
  }
  .gridsection .price {
    font-size: 18px;
  }
  .gridsection .date {
    font-size: 13px;
  }
  .footersection .latest {
    font-size: 15px;
  }
  .footersection .footer-column {
    width: 30%;
  }
}

@media only screen and (max-width: 900px) {
  .page-container .topnav .topheader {
    padding: 6px 6px;
  }
  .page-container .buttons {
    font-size: 11px !important;
  }
  .page-container .header .mainheader {
    margin-bottom: 0;
    font-size: 30px;
  }
  .page-container .header .words {
    font-size: 12px;
    width: 60%;
  }
  .page-container .forwho {
    margin-left: 18%;
    margin-top: 94px;
    width: 200px;
    height: 45px;
  }
  .page-container .forwho .client {
    border-radius: 37px;
    font-size: 12px;
    height: 36px;
  }
  .page-container .forwho .worker {
    font-size: 10px;
  }
  .page-container .searchbox .searchitems {
    margin-top: 122px;
    margin-left: 13%;
    padding: 34px;
  }
  .gridsection .published {
    font-size: 22px;
    margin-left: 13%;
  }
  .footersection .footer-col {
    width: 33%;
    padding: 0 23px;
  }
  .footersection .footer-column {
    width: 91%;
    margin-bottom: 30px;
  }
  .footersection .social-links img {
    width: 10px;
    height: 10px;
    padding: 0px;
  }
  .modal .modal-content .bluehammer {
    width: 20px;
  }
  .modal .modal-content h2 {
    font-size: 16px;
    margin-top: 9px;
  }
  .modal .modal-content .sign-in-with {
    margin-top: 24px;
    font-size: 10px;
  }
  .modal .modal-content .icons {
    padding: 3px 20px 3px 20px;
  }
  .modal .modal-content h3 span {
    font-size: 9px;
  }
  .modal .modal-content label {
    font-size: 9px;
  }
  .modal .modal-content .input {
    width: 89%;
    height: 17px;
  }
  .modal .modal-content .forgot {
    margin-left: 13%;
  }
  .modal .modal-content .signinbutton, .modal .modal-content .signupbutton {
    font-size: 10px;
    padding: 12px 65px;
  }
}

@media only screen and (max-width: 600px) {
  .page-container .logo {
    width: 55%;
  }
  .page-container .logo1 {
    margin-left: 5px;
    margin-top: 27px;
    width: 26px;
    height: 26px;
  }
  .page-container .workinghammer {
    font-size: 15px;
    margin-top: 29px;
  }
  .page-container .header .mainheader {
    font-size: 25px;
  }
  .page-container .header .words {
    font-size: 11px;
  }
  .page-container .whattodo {
    width: 122px;
    height: 38px;
    top: 60%;
  }
  .page-container .working {
    top: 50%;
  }
  .page-container .working .findwork {
    width: 66px;
    padding: 11px 10px;
    margin-top: 57px;
    font-size: 8px;
    margin-left: 4px;
  }
  .page-container .working .hiretalent {
    font-size: 9px;
    margin-left: 64px;
    width: 64px;
    margin-top: 68px;
  }
  .page-container .searchbox .searchitems h6 {
    margin: 0;
    font-size: 9px;
    padding: 3px;
    margin-left: -6px;
  }
  .page-container .location {
    width: 25%;
    padding: 12px;
    padding-bottom: 14px;
  }
  .page-container .searchkey {
    width: 25%;
    padding: 12px;
    padding-bottom: 14px;
  }
  .page-container ::-webkit-input-placeholder {
    font-size: 8px;
  }
  .page-container :-ms-input-placeholder {
    font-size: 8px;
  }
  .page-container ::-ms-input-placeholder {
    font-size: 8px;
  }
  .page-container ::placeholder {
    font-size: 8px;
  }
  .modal .modal-content {
    padding: 10px;
  }
  .modal .modal-content .bluehammer {
    width: 16px;
  }
  .modal .modal-content h2 {
    font-size: 12px;
    margin-top: 8px;
  }
  .modal .modal-content .sign-in-with {
    margin-top: 20px;
    font-size: 8px;
  }
  .modal .modal-content .icons {
    padding: 2px 14px 2px 14px;
    font-size: 9px;
  }
  .modal .modal-content h3 span {
    font-size: 8px;
  }
  .modal .modal-content label {
    font-size: 8px;
  }
  .modal .modal-content .input {
    width: 89%;
    height: 13px;
  }
  .modal .modal-content .forgot {
    margin-left: 7%;
    font-size: 7px;
  }
  .modal .modal-content .remember {
    font-size: 7px;
    margin: 8px 2px 0px 0px;
  }
  .modal .modal-content .signinbutton, .modal .modal-content .signupbutton {
    font-size: 8px;
    padding: 10px 38px;
  }
}

@media only screen and (max-width: 400px) {
  .logo {
    width: 48%;
  }
  .logo1 {
    margin-top: 22px;
    width: 24px;
    height: 24px;
  }
  .workinghammer {
    display: none;
  }
  .page-container {
    padding-top: 0;
  }
  .page-container .buttons {
    font-size: 8px !important;
    margin-right: 0px;
  }
  .page-container .header {
    margin-top: 23%;
  }
  .page-container .header .mainheader {
    font-size: 20px;
    line-height: 29px;
  }
  .page-container .header .words {
    font-size: 10px;
    line-height: 12px;
    width: 70%;
  }
  .page-container .forwho {
    margin-left: 23%;
    margin-top: 154px;
    width: 91px;
    height: 33px;
  }
  .page-container .forwho .client {
    font-size: 6px;
    height: 26px;
  }
  .page-container .forwho .worker {
    margin-left: 36px;
    font-size: 6px;
    float: right;
    margin-top: -27px;
  }
  .page-container .searchbox .searchitems {
    margin-top: 169px;
  }
  .page-container .searchbox .searchitems .searchkey {
    padding: 12px;
    width: 19%;
    padding-top: 10px;
  }
  .page-container .searchbox .searchitems .location {
    padding: 12px;
    width: 19%;
    padding-top: 10px;
  }
  .page-container .searchbox .searchitems ::-webkit-input-placeholder {
    font-size: 6px;
  }
  .page-container .searchbox .searchitems :-ms-input-placeholder {
    font-size: 6px;
  }
  .page-container .searchbox .searchitems ::-ms-input-placeholder {
    font-size: 6px;
  }
  .page-container .searchbox .searchitems ::placeholder {
    font-size: 6px;
  }
  .page-container .searchbox .searchitems .search {
    font-size: 8px;
    position: absolute;
    padding: 11px;
    margin-top: -1px;
    width: 15%;
  }
  .page-container .searchbox .searchitems h6 {
    font-size: 8px;
  }
  .gridsection .published {
    font-size: 19px;
    margin-left: 17%;
  }
  .footersection .headings {
    font-size: 15px;
  }
  .footersection .links a {
    font-size: 12px;
  }
  .footersection .footer-col {
    width: 28%;
  }
  .footersection .latest {
    font-size: 10px;
  }
  .footersection .copyright {
    font-size: 6px;
  }
  .modal .modal-content {
    width: 46%;
    margin-top: 39%;
  }
  .modal .modal-content .bluehammer {
    width: 14px;
  }
  .modal .modal-content h2 {
    font-size: 9px;
    margin-top: 7px;
  }
  .modal .modal-content .sign-in-with {
    margin-top: 12px;
    font-size: 7px;
  }
  .modal .modal-content .icons {
    padding: 1px 9px 1px 9px;
    font-size: 7px;
  }
  .modal .modal-content h3 span {
    font-size: 6px;
  }
  .modal .modal-content label {
    font-size: 7px;
  }
  .modal .modal-content .input {
    height: 8px;
  }
  .modal .modal-content .signinbutton, .modal .modal-content .signupbutton {
    font-size: 7px;
    padding: 8px 33px;
  }
}
/*# sourceMappingURL=homepage.css.map */