* {
    box-sizing: border-box;
    }
html {
    width: 100vw !important;

    overflow-y: scroll;

}
body {
    width: 100%;

    margin: 0;

    background-color: #E5E5E5;
}



   /* for the banner section*/ 
   .bannersection {
        width: 100%;

        .banner {
            width: 100%;
        }

        .banneravat {
            margin-left: 10%;
            width: 8%;
            margin-top: -44px;
            border-radius: 50px;
        }
   }


   .aboutricardo {
    padding: 0px;
    margin-left: 10%;

            .ric {
                display: inline-block;
                font-size: 20px;
                font-weight: 900;
                color: #333333;
            }

            .message {
                background-color: #ffffff;
                border: 1px solid #386DF5;
                border-radius: 5px;
                color: #386DF5;
                padding: 8px;
                margin-left: 2%;
            }

            .fa-envelope:before {
                margin-right: 7px;
            }

            .writer {
                color: #374151;
                font-weight: 600;
                font-size: 17px;
                margin-top: -5px;

                margin-bottom: 25px;
            }

            .fa-star:before {
                color: #FF9E0C;
                font-size: 12px;
            }

            .work125 {
                color: #5D6370;
                font-size: 14px;
                text-decoration: underline;
            }


            .time {
                display: inline-block;
            }

            .aboutcontact {

                margin-top: 5%;
                margin-left: -7px;
            }

            .statistics {
                border: none;
                background-color: transparent;

                color: #000000;
                font-weight: bold;

                font-size: 14px;
                padding-right: 40px;

            }

            .statistic {
                color: #A9A9A9;
                margin: 0;
                font-weight: 200;
            }

            .line {

                border-right: 1px solid #EBEBEB;
            }

            .work {
                color: #333333;
                margin-top: 27px;
            }

   }


   .listing {
        margin-left: 10%;
        margin-top: 8%;

        display: block;

        img {
            width: 90%;
        }

        .listings {
            width: 90%;
            display: inline-block;

            .col {
                
            float: left;
            width: 25%;

            .captions {
                .help {
                    margin-bottom: -10px;
                    color: #333333;
                }

                .prices {
                    font-weight: 600;
                    color: #333333;
                }

                .long {
                    font-size: 12px;
                    color: #6B7280;
                }

                .work125 {
                    font-size: 10px;
                    color: #6B7280;
                    margin-top: -6px;
                }
            }
             }
  

            
        }
   }

   .numberev {
        display: inline-block;
        margin-right: 2%;
        margin-left: 10%;
        margin-top: 10%;
        font-weight: 800;
        font-size: 20px;
        color: #111827;
   }

   .language {
       display: inline-block;
       font-size: 12px;
   }


   .who {
    width: 90%;
    margin-left: 10%;
        .whoheader {
            .boss {
                display: inline-block;
                color: #111827;
                font-weight: 700;
                font-size: 15px;

                text-decoration: underline;
                text-underline-offset: 1.9em;
            }

            .worker {
                display: inline-block;
                margin-left: 2%;
                color: #111827;
                font-size: 15px;

            }
        }

        .division {
            border: 1px solid #EEEEEE;
            margin-left: 10%;
        }
    }


    .notes {
        margin-top: 4%;

        .notes1 {
            .march {
                color: #6B7280;
                font-size: 12px;
            }

            .amet {
                width: 80%;
                color: #333333;
                font-weight: 500;
            }

            .imagediv {
                margin-top: 3%;
                .png {
                    display: inline-block;
                }

                .aboutpng {
                    display: inline-block;
                    margin-left: 1%;

                    .imageword {
                        margin: 0;
                        margin-bottom: 10%;
                        color: #333333;
                    }

                    .starss {
                        color: #386DF5;
                        font-size: 14px;
                    }
                }


            }
        }
    }




    .more {
        margin-left: 10%;
        margin-top: 8%;
        margin-bottom: 12%;
        padding: 5px;
        color: #374151;
    }


    .more:hover {
        background-color: #cccccc;
        border:none;
    }
    






    @media only screen and (max-width: 900px) {

        .aboutricardo {
            .ric {
                font-size: 15px;
            }

            .message {
                padding: 6px;
                font-size: 10px;
            }


            .fa-envelope:before {
                margin-right: 5px;
            }

            .fa-star:before {
                font-size: 11px;
            }

            .work125 {
                font-size: 12px;
            }

            .writer {
                font-weight: 500;
                font-size: 12px;
                margin-bottom: 15px;
            }

            .statistics {
                font-size: 12px;
            }

            .work {
                font-size: 15px;
                width: 70%;
            }
        }
        

        .listing {
            .listings {
                .col {
                    .captions {
                        .help {
                            font-size: 10px;
                        }

                        .prices {
                            font-size: 12px;
                        }

                        .long {
                            font-size: 10px;
                        }

                        .work125 {
                            font-size: 8px;
                        }
                    }
                }
            }
        }


        .numberev {
            font-size: 17px;
        }

        .language {
            font-size: 9px;
        }


        .who {
            .whoheader {
                .boss {
                    font-size: 13px;
                }

                .worker {
                    font-size: 13px;
                }
            }
        }

        .notes {
    
            .notes1 {
    
                .amet {
                    font-size:14px;
                }

                .imagediv {
                    .png {
                        width: 7%;
                    }

                    .aboutpng {
                        .imageword {
                            font-size: 14px;
                        }

                        .starss {
                            font-size: 12px;
                        }
                    }
                }
            }
        }


        .more {
            font-size: 10px;
        }
    }







    @media screen and (max-width: 600px) {

        .aboutricardo {
            .ric {
                font-size: 12px;
            }

            .message {
                padding: 5px;
                font-size: 8px;
            }

            .fa-envelope:before {
                margin-right: 3px;
            }

            .writer {
                font-size: 11px;
                margin-bottom: 11px;
            }

            .fa-star:before {
                font-size: 9px;
            }

            .work125 {
                font-size: 10px;
            }

            .statistics {
                padding-right: 20px;
                font-size: 10px;
            }

            .work {
                font-size: 11px;
            }
        }

        .listing {
            margin-bottom: 5%;

            .richeader {
                margin-bottom: -10px;
            }

            .listings {
                .col {
                    width: 60%;
                    margin-top: 10%;

                    .captions {
                        .help {
                            font-size: 15px;
                        }

                        .prices {
                            font-size: 14px;
                        }

                        .long {
                            font-size: 12px;

                        }

                        .work125 {
                            font-size: 10px;
                        }
                    }
                 }
    
            } 
        }


        .numberev {
            margin-top: 0;
            font-size: 15px;
            
        }


        .who {
            .whoheader {
                .boss {
                    font-size: 11px;
                }

                .worker {
                    font-size: 11px;
                }
            }
        }



        .notes {
    
            .notes1 {
                .march {
                  font-size: 10px;
                }
    
                .amet {
                    font-size: 11px;
                }

                .imagediv {
                    margin-top: 4%;

                    .aboutpng {
                        .imageword {
                            font-size: 12px;
                            margin-bottom: -10%;
                        }

                        .starss {
                            font-size: 10px;
                        }
                    }
                }
            }
        }



        .more {
            padding: 4px;
            font-size: 8px;
        }

    }    





    @media screen and (max-width: 400px) {

        .aboutricardo {
            .ric {
                font-size: 10px;
            }

            .message {
                padding: 5px;
                font-size: 7px;
            }

            .fa-envelope:before {
                display: none;
            }

            .fa-star:before {
                font-size: 8px;
            }

            .work125 {
                font-size: 9px;
            }

            .writer {
                font-size: 8px;
                margin-top: 1px;
            }

            .statistics {
                padding-right: 10px;
                font-size: 8px;
            }

            .work {
                font-size: 9px;
            }


        }

        .listing {
            .richeader {
                font-size: 13px;
            }

            .listings {
                .col {
                    .captions {
                        .help {
                            font-size: 12px;
                        }

                        .prices {
                            font-size: 12px;
                        }

                        .long {
                            font-size: 10px;
                        }

                        .work125 {
                            font-size: 8px;
                        }
                    }
                }
            }

            .numberev {
                font-size: 13px;
            }
        }

        .who {
            .whoheader {
                .boss {
                    font-size: 10px;
                }

                .worker {
                    font-size: 10px;
                }
            }
        }


        .notes2 {
            margin-top: 13%;
        }



        .more {
            font-size: 6px;
        }
 
    }