* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  width: 100vw !important;
  overflow-y: scroll;
}

body {
  width: 100%;
  margin: 0;
  background-color: #E5E5E5;
}

.headersection {
  background-color: #ffffff;
  overflow: hidden;
  padding: 12 10 12 10px;
}

/* Style the links inside the navigation bar */
.logo1 {
  position: absolute;
  width: 28px;
  left: 106px;
  top: 28px;
}

.logo {
  left: 50px;
}

.workinghammer {
  color: #000000;
  font-size: 19px;
  font-family: Inter;
  font-weight: 700;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0em;
  margin: 0;
  margin-top: 18px;
  margin-left: 12px;
}

.headersection .whiteheader {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 125px;
  text-decoration: none;
  font-size: 17px;
}

/* Hide the link that should open and close the topnav on small screens */
.headersection .icon {
  display: none;
}

.myTopnav {
  margin-top: 59px;
  margin-right: 20px;
}

/* for post ad, notifications and avatar */
.postad {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 3px;
  color: #ffffff;
  background-color: #386DF5;
  border: none;
  float: right;
  margin-right: 131px;
  margin-top: -41px;
}

.postad:hover {
  background-color: #092a7c;
}

.notification {
  color: #808080;
  float: right;
  margin-top: -32px;
  margin-right: 89px;
}

.notification:hover {
  cursor: pointer;
  color: #6B7280;
}

.avatar {
  vertical-align: middle;
  float: right;
  margin-top: -41px;
  margin-right: 31px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

/* for the banner section*/
.bannersection {
  width: 100%;
}

.bannersection .banner {
  width: 100%;
}

.bannersection .banneravat {
  margin-left: 10%;
  width: 8%;
  margin-top: -44px;
  border-radius: 50px;
}

.aboutricardo {
  padding: 0px;
  margin-left: 10%;
}

.aboutricardo .ric {
  display: inline-block;
  font-size: 20px;
  font-weight: 900;
  color: #333333;
}

.aboutricardo .message {
  background-color: #ffffff;
  border: 1px solid #386DF5;
  border-radius: 5px;
  color: #386DF5;
  padding: 8px;
  margin-left: 2%;
}

.aboutricardo .fa-envelope:before {
  margin-right: 7px;
}

.aboutricardo .writer {
  color: #374151;
  font-weight: 600;
  font-size: 17px;
  margin-top: -5px;
  margin-bottom: 25px;
}

.aboutricardo .fa-star:before {
  color: #FF9E0C;
  font-size: 12px;
}

.aboutricardo .work125 {
  color: #5D6370;
  font-size: 14px;
  text-decoration: underline;
}

.aboutricardo .time {
  display: inline-block;
}

.aboutricardo .aboutcontact {
  margin-top: 5%;
  margin-left: -7px;
}

.aboutricardo .statistics {
  border: none;
  background-color: transparent;
  color: #000000;
  font-weight: bold;
  font-size: 14px;
  padding-right: 40px;
}

.aboutricardo .statistic {
  color: #A9A9A9;
  margin: 0;
  font-weight: 200;
}

.aboutricardo .line {
  border-right: 1px solid #EBEBEB;
}

.aboutricardo .work {
  color: #333333;
  margin-top: 27px;
}

.listing {
  margin-left: 10%;
  margin-top: 8%;
  display: block;
}

.listing img {
  width: 90%;
}

.listing .listings {
  width: 90%;
  display: inline-block;
}

.listing .listings .col {
  float: left;
  width: 25%;
}

.listing .listings .col .captions .help {
  margin-bottom: -10px;
  color: #333333;
}

.listing .listings .col .captions .prices {
  font-weight: 600;
  color: #333333;
}

.listing .listings .col .captions .long {
  font-size: 12px;
  color: #6B7280;
}

.listing .listings .col .captions .work125 {
  font-size: 10px;
  color: #6B7280;
  margin-top: -6px;
}

.numberev {
  display: inline-block;
  margin-right: 2%;
  margin-left: 10%;
  margin-top: 10%;
  font-weight: 800;
  font-size: 20px;
  color: #111827;
}

.language {
  display: inline-block;
  font-size: 12px;
}

.who {
  width: 90%;
  margin-left: 10%;
}

.who .whoheader .boss {
  display: inline-block;
  color: #111827;
  font-weight: 700;
  font-size: 15px;
  text-decoration: underline;
  text-underline-offset: 1.9em;
}

.who .whoheader .worker {
  display: inline-block;
  margin-left: 2%;
  color: #111827;
  font-size: 15px;
}

.who .division {
  border: 1px solid #EEEEEE;
  margin-left: 10%;
}

.notes {
  margin-top: 4%;
}

.notes .notes1 .march {
  color: #6B7280;
  font-size: 12px;
}

.notes .notes1 .amet {
  width: 80%;
  color: #333333;
  font-weight: 500;
}

.notes .notes1 .imagediv {
  margin-top: 3%;
}

.notes .notes1 .imagediv .png {
  display: inline-block;
}

.notes .notes1 .imagediv .aboutpng {
  display: inline-block;
  margin-left: 1%;
}

.notes .notes1 .imagediv .aboutpng .imageword {
  margin: 0;
  margin-bottom: 10%;
  color: #333333;
}

.notes .notes1 .imagediv .aboutpng .starss {
  color: #386DF5;
  font-size: 14px;
}

.more {
  margin-left: 10%;
  margin-top: 8%;
  margin-bottom: 12%;
  padding: 5px;
  color: #374151;
}

.more:hover {
  background-color: #cccccc;
  border: none;
}

/* for the footer section */
.footersection {
  background-color: #202426;
  padding: 69px 80px 28px 11px;
  color: #ffffff;
}

.footersection .container {
  margin: auto;
  margin-left: 6%;
}

.footersection .list {
  list-style: none;
  position: inherit;
  padding: 0px;
}

.footersection .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footersection .footer-col {
  width: 15%;
  padding: 0 10px;
  margin-bottom: 20px;
}

.footersection .footer-column {
  width: 27%;
  padding: 0 10px;
}

.footersection .headings {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #9CA3AF;
  position: relative;
  cursor: pointer;
}

.footersection li {
  display: block;
}

.footersection ul {
  float: none;
}

.footersection .links {
  text-decoration: none;
  position: relative;
}

.footersection .links a {
  text-decoration: none;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #D1D5DB;
}

.footersection .latest {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  margin-bottom: 15px;
  color: #D1D5DB;
}

.footersection .enter {
  height: 33px;
  border-radius: 7px;
  width: 154px;
  padding: 10px;
  float: left;
}

.footersection .subscribe {
  font-size: 12px;
  padding: 9px 9px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  border: none;
  background-color: #002ea3;
  color: #ffffff;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  cursor: pointer;
  float: left;
  margin-left: 9px;
}

.footersection .subscribe:hover {
  background-color: #092a7c;
}

.footersection hr {
  color: #4B5563;
  width: 92%;
  margin-left: 1%;
  margin-right: 7.5%;
}

.footersection .copyright {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  margin-left: 1%;
  line-height: 24px;
  margin-top: 25px;
  color: #9CA3AF;
  display: inline-block;
}

.footersection .social-links {
  float: right;
  margin-right: 10%;
  margin-top: 25px;
}

.footersection .social-links img {
  width: 25px;
  height: 25px;
  padding: 5px;
}

@media only screen and (min-width: 1200px) {
  .footersection .latest {
    font-size: 15px;
  }
  .footersection .footer-column {
    width: 30%;
  }
}

@media only screen and (max-width: 900px) {
  .headersection .workinghammer {
    font-size: 15px;
  }
  .headersection .logo1 {
    width: 22px;
    left: 76px;
    top: 32px;
  }
  .headersection .whiteheader {
    padding: 14px 88px;
  }
  .aboutricardo .ric {
    font-size: 15px;
  }
  .aboutricardo .message {
    padding: 6px;
    font-size: 10px;
  }
  .aboutricardo .fa-envelope:before {
    margin-right: 5px;
  }
  .aboutricardo .fa-star:before {
    font-size: 11px;
  }
  .aboutricardo .work125 {
    font-size: 12px;
  }
  .aboutricardo .writer {
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 15px;
  }
  .aboutricardo .statistics {
    font-size: 12px;
  }
  .aboutricardo .work {
    font-size: 15px;
    width: 70%;
  }
  .listing .listings .col .captions .help {
    font-size: 10px;
  }
  .listing .listings .col .captions .prices {
    font-size: 12px;
  }
  .listing .listings .col .captions .long {
    font-size: 10px;
  }
  .listing .listings .col .captions .work125 {
    font-size: 8px;
  }
  .numberev {
    font-size: 17px;
  }
  .language {
    font-size: 9px;
  }
  .who .whoheader .boss {
    font-size: 13px;
  }
  .who .whoheader .worker {
    font-size: 13px;
  }
  .notes .notes1 .amet {
    font-size: 14px;
  }
  .notes .notes1 .imagediv .png {
    width: 7%;
  }
  .notes .notes1 .imagediv .aboutpng .imageword {
    font-size: 14px;
  }
  .notes .notes1 .imagediv .aboutpng .starss {
    font-size: 12px;
  }
  .more {
    font-size: 10px;
  }
  .footersection .footer-col {
    width: 45%;
    padding: 0 23px;
  }
  .footersection .footer-column {
    width: 91%;
    margin-bottom: 30px;
  }
  .footersection .social-links img {
    width: 10px;
    height: 10px;
    padding: 0px;
  }
}

@media screen and (max-width: 600px) {
  /* for navigation bar */
  .headersection a:not(:first-child) {
    display: none;
  }
  .headersection a.icon {
    float: right;
    display: block;
  }
  .headersection.responsive {
    position: relative;
  }
  .headersection.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .headersection.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .headersection {
    padding-bottom: 20px;
  }
  .headersection .whiteheader {
    padding-bottom: 0px;
    top: 10px;
  }
  .postad {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 4px;
    color: #ffffff;
    background-color: #386DF5;
    font-size: 6px;
    border: none;
    float: right;
    margin-right: 15px;
    margin-top: 14px;
  }
  .notification {
    margin-top: 19px;
    margin-right: 15px;
    width: 15px;
  }
  .avatar {
    margin-top: 13px;
    margin-right: 31px;
    width: 20px;
    height: 20px;
  }
  .myTopnav {
    margin-top: 6px;
    margin-right: 0;
  }
  .headersection .logo1 {
    width: 17px;
    left: 53px;
    top: 27px;
  }
  .headersection .workinghammer {
    margin-left: 0;
    font-size: 12px !important;
  }
  .headersection .whiteheader {
    padding: 5px 71px;
  }
  .workavailable {
    font-size: 8px;
  }
  .Ottawa {
    font-size: 18px;
    margin-left: 21px;
  }
  .aboutricardo .ric {
    font-size: 12px;
  }
  .aboutricardo .message {
    padding: 5px;
    font-size: 8px;
  }
  .aboutricardo .fa-envelope:before {
    margin-right: 3px;
  }
  .aboutricardo .writer {
    font-size: 11px;
    margin-bottom: 11px;
  }
  .aboutricardo .fa-star:before {
    font-size: 9px;
  }
  .aboutricardo .work125 {
    font-size: 10px;
  }
  .aboutricardo .statistics {
    padding-right: 20px;
    font-size: 10px;
  }
  .aboutricardo .work {
    font-size: 11px;
  }
  .listing {
    margin-bottom: 5%;
  }
  .listing .richeader {
    margin-bottom: -10px;
  }
  .listing .listings .col {
    width: 60%;
    margin-top: 10%;
  }
  .listing .listings .col .captions .help {
    font-size: 15px;
  }
  .listing .listings .col .captions .prices {
    font-size: 14px;
  }
  .listing .listings .col .captions .long {
    font-size: 12px;
  }
  .listing .listings .col .captions .work125 {
    font-size: 10px;
  }
  .numberev {
    margin-top: 0;
    font-size: 15px;
  }
  .who .whoheader .boss {
    font-size: 11px;
  }
  .who .whoheader .worker {
    font-size: 11px;
  }
  .notes .notes1 .march {
    font-size: 10px;
  }
  .notes .notes1 .amet {
    font-size: 11px;
  }
  .notes .notes1 .imagediv {
    margin-top: 4%;
  }
  .notes .notes1 .imagediv .aboutpng .imageword {
    font-size: 12px;
    margin-bottom: -10%;
  }
  .notes .notes1 .imagediv .aboutpng .starss {
    font-size: 10px;
  }
  .more {
    padding: 4px;
    font-size: 8px;
  }
}

@media screen and (max-width: 400px) {
  .headersection .whiteheader {
    padding: 5px 44px;
  }
  .headersection .logo1 {
    left: 25px;
  }
  .aboutricardo .ric {
    font-size: 10px;
  }
  .aboutricardo .message {
    padding: 5px;
    font-size: 7px;
  }
  .aboutricardo .fa-envelope:before {
    display: none;
  }
  .aboutricardo .fa-star:before {
    font-size: 8px;
  }
  .aboutricardo .work125 {
    font-size: 9px;
  }
  .aboutricardo .writer {
    font-size: 8px;
    margin-top: 1px;
  }
  .aboutricardo .statistics {
    padding-right: 10px;
    font-size: 8px;
  }
  .aboutricardo .work {
    font-size: 9px;
  }
  .listing .richeader {
    font-size: 13px;
  }
  .listing .listings .col .captions .help {
    font-size: 12px;
  }
  .listing .listings .col .captions .prices {
    font-size: 12px;
  }
  .listing .listings .col .captions .long {
    font-size: 10px;
  }
  .listing .listings .col .captions .work125 {
    font-size: 8px;
  }
  .listing .numberev {
    font-size: 13px;
  }
  .who .whoheader .boss {
    font-size: 10px;
  }
  .who .whoheader .worker {
    font-size: 10px;
  }
  .notes2 {
    margin-top: 13%;
  }
  .more {
    font-size: 6px;
  }
  .footersection .headings {
    font-size: 15px;
  }
  .footersection .links a {
    font-size: 12px;
  }
  .footersection .footer-col {
    width: 47%;
    padding: 0 23px;
  }
  .footersection .latest {
    font-size: 10px;
  }
  .footersection .copyright {
    font-size: 6px;
  }
}
/*# sourceMappingURL=banner.css.map */