* {
    box-sizing: border-box;
    }
html {
    width: 100vw !important;

    overflow-y: scroll;

}
body {
    width: 100%;

    margin: 0;
}

.a:-webkit-any-link  {
    text-decoration: none;
    color: #ffffff;
}



    .headersection {
 
        background-color: #ffffff;
        overflow: hidden;
        padding: 12 10 12 10px;
    }
      
      /* Style the links inside the navigation bar */
      .logo1 {
        position: absolute;
        width: 28px;
        left: 106px;
        top: 28px;
    }
    
    .logo {
        left: 50px;
    }
    
    .workinghammer {
        color: #000000;
        font-size: 19px;
        font-family: Inter;
        font-weight: 700;
        font-style: normal;
        line-height: 24px;
        letter-spacing: 0em;
        margin: 0;
        margin-top: 18px;
        margin-left: 12px;
    }
    
    
      .headersection .whiteheader {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 125px;
        text-decoration: none;
        font-size: 17px;
      }
      
    
  

    
      
      /* Hide the link that should open and close the topnav on small screens */
      .headersection .icon {
        display: none;
      }
    

      .myTopnav {
        margin-top: 59px;
        margin-right: 20px;
    }
    
    
        /* for post ad, notifications and avatar */
        .postad {
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            border-radius: 3px;
            color: #ffffff;
            background-color: #386DF5;
            border: none;
            float: right;
            margin-right: 131px;
            margin-top: -41px;
        }
    
        .postad:hover {
            background-color: #092a7c;
        }
    
    
        .notification {
            color: #808080;
            float: right;
            margin-top: -32px;
            margin-right: 89px;
        }

        .notification:hover {
            cursor: pointer;
            color:#6B7280;
        }
    
    
    
        .avatar {
            
            vertical-align: middle;
            float: right;
            margin-top: -41px;
            margin-right: 31px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
    
          }






    /* for the middlesection */
    .middlesection {
        background-color: #E5E5E5;
        height: fit-content;

        padding-left: 109px;
        padding-right: 50px;

        /* Style the navigation bar */
    .navbar {
        width: 100%;
        overflow: auto;
        padding-top: 5px;
    }
    
    /* Navbar links */
    .navbar a {
        float: left;
        text-align: center;
        padding: 12px;
        color: #A9A9A9;
        text-decoration: none;
        font-size: 17px;
    }
    
    /* Navbar links on mouse-over */
    .navbar a:hover {
        background-color: #000;
    }

    .fa-chevron-right:before {
        margin-left: 25px;
    }






    /* Create two columns that floats next to each other */
    .column {
        float: left;
        width: 50%;
        padding: 10px;

        background-color: #ffffff;

    }


    .background {
        background-color: #ffffff;
    }

    
    .row {
        padding-top: 20px;
        padding-bottom: 50px;




        .topminiheader {
            background-color: #ffffff;
            margin-top: -39px;
            border-bottom: solid 1px #808080;
            .want {
                font-size: 25px;

                padding: 10px;
                padding-left: 25px;
                padding-top: 32px;

                margin-bottom: 0px;

                font-weight: 600;
            }

            .details {
                display: inline-block;

                margin-left: 31px;
                margin-right: 33px;

                color: #6B7280;
            }

            .proposal {
                display: inline-block;

                color: #6B7280;
            }

            .active {
                color: #386DF5;
                text-decoration: underline;
                text-underline-offset: 0.9em;
            }

            .display:hover {
                color: #092a7c;
            }

            .proposal:hover {
                color: #386DF5;
                text-decoration: underline;
                text-underline-offset: 0.9em;
            }
        }


        .proposalsavailable {
            height: fit-content;
            background-color: #ffffff;

            padding-left: 30px;
            padding-right: 30px;

            padding-top: 10px;
            padding-bottom: 97px;

            .worker1 {
                height: fit-content;
                background-color: #ffffff;

                margin-top: 20px;
                margin-bottom: 10px;

                border-radius: 15px;

                padding-top: 10px;
                padding-bottom: 10px;

                border: solid 1px #eeeeee;
            }

                .avatar1 {
                    margin-left: 25px;
                    margin-top: 10px;

                    width: 37px;
                }

                .name1 {
                    display: inline-block;
                    width: 85px;
                    font-size: 20px;
                    font-weight: 600;
                }

                .work125 {
                    display: inline-block;
                    color: #5D6370;
                    text-decoration: underline;
                    font-size: 13px;
                }

                .ninenine {
                    display: inline-block;
                    color: #5D6370;
                    text-decoration: underline;
                    font-size: 18px;
                }

                .greentick1 {
                    display: inline-block;
                    margin-left: 12px;
                }

                .about1 {
                    width: 80%;
                    margin-left: 32px;
                    margin-top: 6px;
                }

                .close1 {
                    margin-left: 29px;
                    margin-top: 45px;

                    color: #cccccc;
                }
            

            .worker2 {
                height: fit-content;
                background-color: #ffffff;

                margin-top: 20px;
                margin-bottom: 10px;;

                border-radius: 15px;

                padding-top: 10px;
                padding-bottom: 10px;

                border: solid 1px #eeeeee;
            }

            .fa-star {
                color: #FF9E0C;
                display: inline-block;
                font-size: 14px;
            }
        }


    }


    }


     /* for the footer section */
     .footersection {
        background-color: #202426;
    
        padding: 69px 80px 28px 11px;
    
        color: #ffffff;
    
        .container {
            margin: auto;
            margin-left: 6%;
        }
    
        .list {
            list-style: none;
            position: inherit;
    
            padding: 0px;
        }
    
        .row {
            display: flex;
            flex-wrap: wrap;
        }
    
        .footer-col {
            width: 15%;
            padding: 0 10px;
            
            margin-bottom: 20px;
        }
    
        .footer-column {
            width: 27%;
            padding: 0 10px;
        }
    
        .headings {
            font-family: Inter;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
    
            line-height: 20px;
    
            letter-spacing: 0.05em;
            text-transform: uppercase;
    
            color: #9CA3AF;
    
            position: relative;
    
            cursor: pointer;
    
        }
    
        li {
            display: block;
        }
    
        ul {
            float: none;
        }
    
    
        .links {
        
            text-decoration: none;
            position: relative;
        
        
            }
        
        .links a {
            text-decoration: none;
        
            font-family: Inter;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
        
            color: #D1D5DB;
        
        }
    
        .latest {
            font-family: Inter;
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
    
            line-height: 21px;
            margin-bottom: 15px;
        
            color: #D1D5DB;
        }

        .end {
            height: 20%;
            width: 100%;
        }
    
        .enter {
            height: 33px;
            border-radius: 7px;
            width: 48%;
            padding: 10px;
            float: left;
        }
    
        .subscribe {
            font-size: 12px;
    
            padding: 9px 9px;
    
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
            border-radius: 4px;
            border: none;
    
            background-color: #002ea3;
            color: #ffffff;
            backdrop-filter: blur(2px);
    
            cursor: pointer;
            float: left;
    
            margin-left: 9px;
        }
    
        .subscribe:hover {
            background-color: #092a7c;
        }
    
    
        hr {
            color: #4B5563;
            width: 92%;
            
            margin-left: 1%;
            margin-right: 7.5%;
            
        }
      
        .copyright {
            font-family: Inter;
            font-style: normal;
            font-weight: normal;
    
            font-size: 9px;
            margin-left: 1%;
            line-height: 24px;
            margin-top: 25px;
    
            color: #9CA3AF;
    
            display: inline-block;
        }
    
        .social-links{
            float: right;
    
            margin-right: 10%;
            margin-top: 25px;
    
        }
    
        .social-links img {
            width: 25px;
            height: 25px;
            padding: 5px;
        }
    
    }
    







/* for the chatbot */
.chat-popup {
    display: none;
    position: fixed;
    z-index: 999;
    top: 1vh;
    width: 60%;
    margin-left: 39%;
    height: 90vh;
    background-color: #ffffff;


    .cancel {
        top: 3%;
        position: absolute;
        margin-left: 95%;
        border: none;
        background-color: transparent;
        font-size: 17px;
    }

    .chatbox {
        width: 65%;
        height: inherit;
        float: left;

        border: 1px solid #EEEEEE;

        .header1{
            height: 15%;
            background-color: #ffffff;
            border-bottom: 1px solid #EEEEEE;

            .forest {
                width: 18%;
                margin-top: 19px;
                margin-left: 14px;

                float: left;

            }

            .headerwords {
                width: 60%;
                display: inline-block;
                white-space: nowrap;
                margin-top: -3px;
                margin-left: 9px;

                .wanta {
                    font-size: 13px;
                    margin: 0;
                    margin-top: 20px;
                }

                .money {
                    margin: 0;
                    color: #333333;
                    font-weight: 600;
                    margin-top: 2px;
                    display: inline-block;
                    font-size: 14px;
                }

                .timecount {
                    margin: 0;
                    display: inline-block;
                    font-size: 12px;
                    color: #666666;
                }

                .fa-edit:hover {
                    color: #386DF5;
                }

                .dist {
                    margin-left: 3%;
                }
            }

            .awards {
                color: #386DF5;
                width: 13%;
                background-color: #ffffff;
                border: 1px solid #386DF5;
                border-radius: 5px;
                float: right;
                font-size: 9px;
                margin-right: 7px;
                margin-top: 20px;
                padding: 5px 10px 5px 10px;

            }

            .pay {
                margin-top: -47px;
            }
        }

        .newheader {
            height: 18%;
        }

        .header2 {
            .headerwords {
                    /* Style the list */
                    ul.breadcrumb {
                        padding: 8px 0px;
                        list-style: none;
                        margin: 0;
                    }
                    
                    /* Display list items side by side */
                    ul.breadcrumb li {
                        display: inline;
                        font-size: 18px;
                    }
                    
                    /* Add a slash symbol (/) before/behind each list item */
                    ul.breadcrumb li+li:before {
                        padding: 9px;
                        width: 20px;
                        color: black;
                        content: "\2012";
                        display: inline-block;
                    }
                    
                    /* Add a color to all links inside the list */
                    ul.breadcrumb li a {
                        color: #0275d8;
                        text-decoration: none;
                    }
                    
                    /* Add a color on mouse-over */
                    ul.breadcrumb li a:hover {
                        color: #01447e;
                        text-decoration: underline;
                    }

                    .three {
                        margin-top: 1%;
                    }
            }
        }

        .chatbody {
            height: 60%;
            background-color: #ffffff;

            .message1 {
                margin-top: 7%;
                width: 100%;
                height:10%;

                .pop1 {
                    display: inline-block;
                    float: right;
                    width: 9%;
                }

                .one {
                    display: inline-block;
                    color: #ffffff;
                    background-color: #386DF5;
                    padding: 12px;
                    font-size: 13px;
                    border-radius: 5px;
                    float: right;
                    margin-right: 10px;
                } 
            }

            .message2 {
                margin-top: 10%;
            }

            .pop2 {
                border-radius: 20px;
                float: left;
                display: inline-block;
                width: 9%;
            }

            .two {
                display: inline-block;
                color: #000000;
                background-color: #ffffff;
                padding: 12px;
                width: 60%;
                font-size: 13px;
                margin-top: 0;
                border-radius: 5px;
                float: left;
                margin-right: 10px;
            }

            .remitted {
                color: #065F46;
                background-color: #ECFDF5;

                .colored {
                    color: #34D399;
                }

                .colored2 {
                    color: #F87171;
                    margin-right: 2%;
                }
            }

            .error {
                background-color: #FEF2F2;
                color:#991B1B;
            }

            .message3 {
                margin-left: 2%;
            }

            .message4 {
                margin-top: 11%;
            }
        }

        .chatfooter {
            height: 25vh;
            background-color: #FBFBFB;
            border: 1px solid #EEEEEE;
            padding-bottom: 10%;

            .enter {
                height: 75%;
                width: 100%;
                border: none;
                background-color: #FBFBFB;
                padding: 9px;
                padding-top: 0px;
            }

            ::placeholder {
                margin-top: -10px;
                font-size: 14px;
            }

            .footer2 {
                .send {
                    float: right;
                    color: #ffffff;
                    background-color: #386DF5;
                    border: none;
                    padding: 8px 19px 8px 19px;
                    border-radius: 4px;
                    margin-right: 5px;
                }

                .emojis {
                    display: inline-block;
                    color: #9CA3AF;
                    padding: 10px;

                    .fa-comment-alt:before, .fa-image:before {
                        margin-left: 10px;
                    }
                
                
                }
            }
        }
    }

    .recommend {
        width: 35%;
        height: inherit;
        float:right;

        border: 1px solid #EEEEEE;

        .group {
            margin-top: 0%;
            margin-left: 1%;
            position: absolute;

            .bell {
                margin-top: 2%;
                margin-left: -5.2%;
                position: absolute;
                width: 33px;
            }
            .whitebell {
                margin-top: 9px;
                margin-left: 10px;
                width: 14px;
            }
            
            .ellipse {
                width: 10px;
                margin-left: 22px;
            }

            .number {
                color: #ffffff;
                margin-left: 25px;
                font-size: 8px;
                font-weight: 800;
            }
        }

        .bellheader {
            margin-top: 38px;
            margin-bottom: 10px;
        }

        .notifi {
            display: inline-block;
            margin-left: 45px;
            margin-top: 1px;
            color: #333333;
            font-size: 14px;
            margin-bottom: 0;
        }

        .aboutbell {
            color: #999999;
            font-size: 9px;
            display: inline-block;
            margin-left: 46px;
            margin-top: -4px;
        }

        .mainbody {
            padding: 10px;
            height: 90vh;
            background-color: #ffffff;
        
        

            .image1 {
                width: 24%;
                display: inline-block;
            }

            .image2 {
                margin-top: 10px;
            }

            .abouthim {
                width: 70%;
                display: inline-grid;
                float: right;

                .name {
                    display: inline-block;
                    font-size: 12px;
                    font-weight: 600;
                    margin: 0;
                }
    
                .what {
                    display: inline-block;
                    margin: 0;
                    font-size: 12px;
                    color: #999999;
                }
    
                .when {
                    display: inline-block;
                    margin: 0;
                    color: #999999;
                    font-size: 10px;
                }
            }

            .abouthim2 {
                margin-top: 10px;
            }

            .abouthim3 {
                margin-top: 10px;
            }


        }
    }


    // for the popup edit price box 
     .modify {
        display: none;
        position: absolute;

        width: 45%;
        margin-left: 15%;
        margin-top: 1%;
        padding: 10px;
        border-radius: 6px;
        border: 1px solid #9CA3AF;

        background-color: #ffffff;
        
        .cars {
            display: block;
            font-size: 14px;
            color: #374151;
            font-weight: 600;
            margin-bottom: 3%;
            
        }

        .select {
            width: 90%;
            margin: 1%;
            margin-top: 2%;
            border: 1px solid #D1D5DB;
            background-color: #ffffff;
            color: #6B7280;
            border-radius: 2px;
        }

        .todo {
            display: block;
            float: right;
            margin-top: 7%;
            margin-right: 14%;
            color: #ffffff;
            border: none;
            padding: 8px 12px;
            font-size: 12px;
            border-radius: 4px;
            background-color: #386DF5;
        }

        .cancel2 {
            top: 6%;
            position: absolute;
            margin-left: 77%;
            border: none;
            background-color: transparent;
            font-size: 14px;
            color: #989CA3;
        }

        .amountt {
            margin-bottom: 2%;
            border-radius: 3px;
            border: 1px solid #808080;
            display: block;
            width: 85%;
            height: 27px;
        }


        .buttons {
            display: block;
            width: 100%;
            margin-bottom: 7%;
            padding-right: 14%;

            .plus {
                float: right;
                padding: 6px 16px;
                border: 1px solid #386DF5;
                border-radius: 4px;
                background-color: #ffffffff;
            }

            .minus {
                float: right;
                padding: 6px 16px;
                margin-left: 3%;
                border: 1px solid #386DF5;
                border-radius: 4px;
                background-color: #ffffffff;
            }
        }
    
      }


     // for the popup price box 
     .paying {
            display: none;
            position: absolute;
    
            width: 45%;
            margin-left: 15%;
            margin-top: 1%;
            padding: 10px;
            border-radius: 6px;
            border: 1px solid #9CA3AF;
    
            background-color: #ffffff;
            
            .confirm {
                display: block;
                font-size: 14px;
                color: #374151;
                font-weight: 600;
                
            }
    
            .input {
                width: 90%;
                margin: 1%;
                margin-top: 2%;
                border: 1px solid #D1D5DB;
                background-color: #ffffff;
                color: #6B7280;
                border-radius: 2px;
                padding: 6px;
            }


    
            .todo {
                display: block;
                float: right;
                margin-top: 7%;
                margin-right: 14%;
                color: #ffffff;
                border: none;
                padding: 8px 12px;
                font-size: 12px;
                border-radius: 4px;
                background-color: #386DF5;
            }
    
            .cancel2 {
                top: 6%;
                position: absolute;
                margin-left: 77%;
                border: none;
                background-color: transparent;
                font-size: 14px;
                color: #989CA3;
            }
        
          }


      
}









@media only screen and (min-width: 1200px) {
    .footersection {
        .latest {
            font-size: 15px;
        }

        .footer-column {
            width: 30%;
        }
    }
}


    
    
    





@media only screen and (max-width: 900px) {
    .headersection {
        .workinghammer {
            font-size: 15px;
        }

        .logo1 {
            width: 22px;
            left: 76px;
            top: 32px;
        }

        .whiteheader {
            padding: 14px 88px;
        }
    
       
    }



    .middlesection {
        padding-left: 82px;

        .gridbox {
            margin-left: 79px;
        }

        .navbar a {
            font-size: 13px;
        }
    }




    .footersection {
        .footer-col {
            width: 45%;
            padding: 0 23px;
        }

        .footer-column {
            width: 91%;
            margin-bottom: 30px;
        }

        .social-links img {
            width: 10px;
            height: 10px;
            padding: 0px;
        }
    }

    .chat-popup {
        .recommend {
            .notifi {
                font-size: 12px;
            }

            .mainbody {
                .image1 {
                    width: 29px;
                }

                .abouthim {
                    .when {
                        font-size: 8px;
                    }

                    .what {
                        font-size: 8px;
                    }

                    .name {
                        font-size: 10px;
                    }
                }

                .abouthim2 {
                    margin-top: 8px;
                }
            }
        }

        .chatbox {
            .header1 {
                height: 12%;

                .forest {
                    width: 15%;
                    margin-left: 8px;
                }

                .headerwords {
                    .wanta {
                        font-size: 9px;
                    }

                    .money {
                        font-size: 10px;
                    }

                    .timecount {
                        font-size: 9px;
                    }

                    
                }

                .awards {
                    font-size: 6px;
                    padding: 5px 3px 5px 3px;
                }
            }

            .header2 {
                .fa-check-circle {
                    font-size: 13px;
                }

                .three {
                    width: 10%;
                }

                .headerwords {
                    ul.breadcrumb {
                        padding: 0px 0px;
                    }

                    ul.breadcrumb li+li:before {
                        padding: 7px;
                    }
                }
            }

            .chatbody {
                .message1 {
                    .one {
                        padding: 10px;
                        font-size: 10px;
                    }

                    .two {
                        font-size: 10px;
                    }
                }

                .message4 {
                    margin-top: 16%;
                }
            }
        }


        .modify {

             margin-left: 12%;

            .cars {
                font-size: 10px;
                margin-bottom: 1%;
            }

            .cancel2 {
                font-size: 12px;
            }

            .select {
                font-size: 10px;
                margin: 0%;
            }

            .todo {
                margin-top: 7%;
                padding: 6px 10px;
                font-size: 10px;
            }

            .amountt {
                font-size: 10px;
                height: 20px;
            }

            .buttons {
                .plus, .minus {
                    padding: 4px 12px;
                }
            }
        }

        .paying {
            .confirm {
                font-size: 9px;
            }

            .input {
                padding: 4px;
            }

            .todo {
                padding: 6px 10px;
                font-size: 9px;
            }
        }
    }



}




@media screen and (max-width: 600px) {

    /* for navigation bar */
    .headersection a:not(:first-child) {display: none;}
    .headersection a.icon {
      float: right;
      display: block;
    }


    .headersection.responsive {position: relative;}
    .headersection.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .headersection.responsive a {
      float: none;
      display: block;
      text-align: left;
    }

 

 

    .headersection {
        padding-bottom: 20px;
    }

    .headersection .whiteheader {
        padding-bottom: 0px;
        top: 10px;
    }

    .postad {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 8px;
        padding-bottom: 8px;
        border-radius: 4px;
        color: #ffffff;
        background-color: #386DF5;
        font-size: 6px;
        border: none;
        float: right;
        margin-right: 15px;
        margin-top: 14px;
    }


    .notification {
        margin-top: 19px;
        margin-right: 15px;
        width: 15px;
    }

    .avatar {
        margin-top: 13px;
        margin-right: 31px;
        width: 20px;
        height: 20px;
    }

    .myTopnav {
        margin-top: 6px;
        margin-right: 0;
    }


    .headersection .logo1 {
        width: 17px;
        left: 53px;
        top: 27px;
    }

    .headersection .workinghammer {
        margin-left: 0;
        font-size: 12px !important;
    }

    .headersection .whiteheader{

        padding: 5px 71px;
    }


    .workavailable {
        font-size: 8px;
    }

    .Ottawa {
        font-size: 18px;
        margin-left: 21px;
    }



    .middlesection {
        padding-left: 56px;

        .navbar a {
            font-size: 11px;
        }

        .fa-chevron-right:before {
            margin-left: 9px;
        }


        .row {
            .proposalsavailable {

                .avatar1 {
                    margin-left: 25px;
                    margin-top: 10px;
                    width: 23px;
                }

                .name1 {
                    width: 41px;
                    font-size: 8px;
                }
    
                .fa-star {
                    font-size: 7px;
                }

                .greentick1 {
                    margin-left: 2px;
                }
                
                .work125 {
                    font-size: 7px
                }

                .greentick1 {
                    width: 7px;
                }

                .ninenine {
                    font-size: 9px;
                }

                .about1 {
                    margin-left: 17px;
                    font-size: 10px;
                }

                .close1 {
                    margin-left: 17px;
                    margin-top: 12px;
                }

        }

        }


    }

    .chat-popup {
        width: 90%;
        margin-left: 10%;

        .chatbox {
            width: 60%;

           .header1 {
            .forest {
                width: 11%;
            }

            .awards {
                font-size: 7px;
            }

           .headerwords {
            .wanta {
                font-size: 8px;
            } 
           }

        }

        .chatfooter {
            .footer2 {
                .send {
                    padding: 4px 13px 4px 13px;
                    font-size: 9px;
                    margin-top: 10px;
                }

                .emojis {
                    .fa-comment-alt:before, .fa-image:before, .fa-smile:before {
                        font-size: 12px;
                    }
                }
            }
        }

    }

        .recommend {
            width: 40%;

            .mainbody {
                .abouthim {
                    .when {
                        font-size: 9px;
                    }

                    .what {
                        font-size: 9px;
                    }

                    .name {
                        font-size: 12px;
                    }
                }

                .abouthim2 {
                    margin-top: -36px;
                }

                .abouthim3 {
                    margin-top: 7px;
                }
            }
        }

        .cancel {
            font-size: 13px;
        }

        .modify {
            font-size: 12px;
            margin-left: 9%;

            .select {
                font-size: 11px;
            }

            .buttons {
                margin-bottom: 9%;
            }
        }


    }


    .footersection {
        .subscribe {
            font-size: 9px;
            padding: 8px 8px;
        }

        .enter {
            width: 60%;
        }
    }
}






@media screen and (max-width: 400px) {

    .headersection {
        .whiteheader {
            padding: 5px 44px;
        }

        .logo1 {
            left: 25px;
        }
    }



    .middlesection {
        padding-left: 38px;

        .gridbox {
            margin-left: 47px;
        }

        .navbar a {
            font-size: 11px;
        }

        .fa-chevron-right:before {
            margin-left: 2px;
        }

    }




    .footersection {
        .headings {
            font-size: 15px;
        }

        .links a {
            font-size: 12px;
        }

        .footer-col {
            width: 47%;
            padding: 0 23px;
        }

        .latest {
            font-size: 10px;
        }

        .copyright {
            font-size: 6px;
        }
    }



    .chat-popup {
        .chatbox {
             .header1 {
                .forest {
                    display: none;
                 }

                 .awards {
                     margin-right: 3px;
                     margin-top: 17px;
                     font-size: 6px;
                     padding: 6px 1px 5px 3px;
                 }

                 .release {
                    font-size: 5px;
                 }

                 .headerwords {
                     .wanta {
                        margin-left: 3px;

                        .money {
                            font-size: 9px;
                        }

                        .timecount {
                            font-size: 8px;
                        }
                     }
                 }

                
             }

             .header2 {
                 .fa-check-circle {
                    font-size: 11px;
                 }
             }

             .chatbody {
                 .message1 {
                     .one {
                         padding: 8px;
                         font-size: 8px;
                         margin-top: 0px;
                         margin-right: 5px;
                     }

                     .two {
                         margin-top: -10px;
                         width: 70%;
                         font-size: 7px;
                     }
                 }
             }

        }
        .recommend {

            .notifi {
                font-size: 8px;
                margin-left: 37px;
            }

            .aboutbell {
                margin-left: 36px;
                margin-top: 10px;
                font-size: 6px;
            }

            .group {
                .number {
                    font-size: 7px;
                    margin-left: 22px;
                }

                .ellipse {
                    margin-left: 19px;
                }

                .whitebell {
                    margin-top: 7px;
                    margin-left: 8px;
                    width: 12px;
                }

                .orange {
                    width: 27px;
                }
            }

            .mainbody {
                .abouthim {
                    .when {
                        font-size: 6px;
                    }

                    .what {
                        font-size: 7px;
                    }

                    .name {
                        font-size: 9px;
                    }
                }

                .abouthim2 {
                    margin-top: 10px;
                }

                .image1 {
                    width: 24px;
                }
            }
        }   

        .modify {
            width: 51%;
            margin-left: 1%;
            
            .todo {
                font-size: 8px;
            }

            .cars {
                margin-bottom: 2%;
            }

            .select {
                font-size: 10px;
            }

            .buttons {
                .plus, .minus {
                    padding: 4px 12px;
                }
            }
        }

        .paying {

            .confirm {
                font-size: 7px;
            }

            .todo {
                font-size: 7px;
            }

            .cancel2 {
                font-size: 10px;
            }
        }
        
    }


}






