* {
    box-sizing: border-box;
    }
html {
    width: 100vw !important;

    overflow-y: scroll;

}
body {
    width: 100%;

    margin: 0;
}

.a:-webkit-any-link  {
    text-decoration: none;
    color: #ffffff;
}


    /* Create two columns that floats next to each other */
    .column {
        float: left;
        width: 50%;
        padding: 10px;

        background-color: #ffffff;

    }


    .background {
        background-color: #ffffff;
    }

    
    .row {
        padding-top: 20px;
        padding-bottom: 50px;




        .topminiheader {
            background-color: #ffffff;
            margin-top: -39px;
            border-bottom: solid 1px #808080;
            .want {
                font-size: 25px;

                padding: 10px;
                padding-left: 25px;
                padding-top: 32px;

                margin-bottom: 0px;

                font-weight: 600;
            }

            .details {
                display: inline-block;

                margin-left: 31px;
                margin-right: 33px;

                color: #6B7280;
            }

            .proposal {
                display: inline-block;

                color: #6B7280;
            }

            .active {
                color: #386DF5;
                text-decoration: underline;
                text-underline-offset: 0.9em;
            }

            .display:hover {
                color: #092a7c;
            }

            .proposal:hover {
                color: #386DF5;
                text-decoration: underline;
                text-underline-offset: 0.9em;
            }
        }


        .proposalsavailable {
            height: fit-content;
            background-color: #ffffff;

            padding-left: 30px;
            padding-right: 30px;

            padding-top: 10px;
            padding-bottom: 97px;

            .worker1 {
                height: fit-content;
                background-color: #ffffff;

                margin-top: 20px;
                margin-bottom: 10px;

                border-radius: 15px;

                padding-top: 10px;
                padding-bottom: 10px;

                border: solid 1px #eeeeee;
            }

                .avatar1 {
                    margin-left: 25px;
                    margin-top: 10px;

                    width: 37px;
                }

                .name1 {
                    display: inline-block;
                    width: 85px;
                    font-size: 20px;
                    font-weight: 600;
                }

                .work125 {
                    display: inline-block;
                    color: #5D6370;
                    text-decoration: underline;
                    font-size: 13px;
                }

                .ninenine {
                    display: inline-block;
                    color: #5D6370;
                    text-decoration: underline;
                    font-size: 18px;
                }

                .greentick1 {
                    display: inline-block;
                    margin-left: 12px;
                }

                .about1 {
                    width: 80%;
                    margin-left: 32px;
                    margin-top: 6px;
                }

                .close1 {
                    margin-left: 29px;
                    margin-top: 45px;

                    color: #cccccc;
                }
            

            .worker2 {
                height: fit-content;
                background-color: #ffffff;

                margin-top: 20px;
                margin-bottom: 10px;;

                border-radius: 15px;

                padding-top: 10px;
                padding-bottom: 10px;

                border: solid 1px #eeeeee;
            }

            .fa-star {
                color: #FF9E0C;
                display: inline-block;
                font-size: 14px;
            }
        }


    }






@media only screen and (max-width: 900px) {

    .middlesection {
        padding-left: 82px;

        .gridbox {
            margin-left: 79px;
        }

        .navbar a {
            font-size: 13px;
        }
    }
}




@media screen and (max-width: 600px) {

    .middlesection {
        padding-left: 56px;

        .navbar a {
            font-size: 11px;
        }

        .fa-chevron-right:before {
            margin-left: 9px;
        }


        .row {
            .proposalsavailable {

                .avatar1 {
                    margin-left: 25px;
                    margin-top: 10px;
                    width: 23px;
                }

                .name1 {
                    width: 41px;
                    font-size: 8px;
                }
    
                .fa-star {
                    font-size: 7px;
                }

                .greentick1 {
                    margin-left: 2px;
                }
                
                .work125 {
                    font-size: 7px
                }

                .greentick1 {
                    width: 7px;
                }

                .ninenine {
                    font-size: 9px;
                }

                .about1 {
                    margin-left: 17px;
                    font-size: 10px;
                }

                .close1 {
                    margin-left: 17px;
                    margin-top: 12px;
                }

        }

        }


    }

}






@media screen and (max-width: 400px) {

    .middlesection {
        padding-left: 38px;

        .gridbox {
            margin-left: 47px;
        }

        .navbar a {
            font-size: 11px;
        }

        .fa-chevron-right:before {
            margin-left: 2px;
        }

    }


}






