* {
    box-sizing: border-box;
    }
html {
    width: 100vw !important;

    overflow-y: scroll;

}
body {
    width: 100%;

    margin: 0;

    background-color: #E5E5E5;
}



 
 .topminiheader {
    background-color: #ffffff;
    margin-top: 10px;
    border-bottom: solid 1px #E5E7EB;
    font-size: 12px;


    .postad2 {
        font-size: 25px;

        padding: 10px;
        padding-left: 25px;
        padding-top: 32px;

        margin-bottom: 0px;

        font-weight: 600;
    }

    .hiretalent2 {
        display: inline-block;
        margin-right: 33px;

        color: #6B7280;
    }

    .titles {
        display: inline-block;

        color: #6B7280;

        margin-right: 5%;
    }

    .active {
        color: #386DF5;
        text-decoration: underline;
        text-underline-offset: 0.9em;
    }

    .hiretalent2:hover {
        color: #092a7c;
    }

    .titles:hover {
        color: #386DF5;
        text-decoration: underline;
        text-underline-offset: 0.9em;
    }
}



 .mainsection {
    width: 80%;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    background-color: #ffffff;


    .mainheader {
        font-size: 25px;
        font-weight: 600;
        margin-top: 40px;
        margin-left: 35px;
    }


    .banktable {
        overflow-x: auto;
        border-radius: 7px;
        border: 1px solid #ddd;

        margin-top: 30px;
        margin-left: 33px;
        margin-right: 15%;
        margin-bottom: 25%;


        table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            border: 1px solid #ddd;
          }
          
          th, td {
            text-align: left;
            padding: 8px;
          }

          tr {
            border-bottom: 1px solid #E5E7EB;
        }

          th {
              background-color: #F9FAFB;
              color: #6B7280;

              font-size: 12px;
          }

          td {
            white-space: nowrap;
            padding-right: 100px;
            padding-bottom: 10px;



            .names {
                display: inline-block;
                margin-left: 5px;
            }
                .mainame {
                    display: inline-block;
                    margin: 0;
                    margin-bottom: 5px;

                    font-weight: 700;
                    white-space:nowrap;
                }
  
                .email {
                    margin: 0;

                    color: #6B7280;
                }
            .active {
                background-color: #D1FAE5;
                color: #065F46;

                padding: 4px;
                font-size: 10px;
                padding-left: 8px;
                border-radius: 11px;
            }

            .admin {
                color: #6B7280;
                font-size: 12px;
            }
            
            .edit {
                color: #4F46E5;
                font-size: 10px;

                margin-left: 10px;
            }
            
          }
    }

 }






@media only screen and (max-width: 900px) {

    .mainsection {
        .mainheader {
            font-size: 22px;
            margin-top: 29px;
            margin-left: 25px;
        }

        

        .banktable {

            th {
                font-size: 10px;
            }
            td {


                    .mainame {
                        font-size: 12px;
                        margin-bottom: 0px;
                    }

                    .email {
                        font-size: 10px;
                    }

                .active {
                    font-size: 8px;
                }
                
            }
        }
    }

}





@media screen and (max-width: 600px) {

    .topminiheader {
        font-size: 8px;
    }


    .mainsection {
        .mainheader {
            font-size: 20px;
            margin-top: 22px;
            margin-left: 16px;
        }

         .banktable {


            td {

                .mainame {
                    font-size: 10px;
                }

                .email {
                    font-size: 8px;
                }

                .active {
                    font-size: 7px;
                }

                .admin {
                    font-size: 10px;
                }

                .edit {
                    font-size: 8px;
    
                }
            
            }
         }
    }


}









@media screen and (max-width: 400px) {

    .topminiheader {
        font-size: 6px; 

        .hiretalent2 {
            margin-right: 10px;
        }

        .titles {
            margin-right: 3%;
        }
    }

    .mainsection {
        .mainheader {
            font-size: 15px;
            margin-top: 14px;
            margin-left: 10px;
        }
         .banktable {
            margin-left: 7px;
            margin-right: 0%;

            td {

                .active {
                    font-size: 6px;
                }

                .admin {
                    font-size: 8px;
                }
            }
         }
    }
}






