* {
    box-sizing: border-box;
}
html {
    width: 100vw !important;

    overflow-y: scroll;

}
body {
    width: 100%;

    margin: 0;
}



.headersection {
 
        background-color: #ffffff;
        overflow: hidden;
        padding: 12 10 12 10px;
}
      
      /* Style the links inside the navigation bar */
      .logo1 {
        position: absolute;
        width: 28px;
        left: 106px;
        top: 28px;
    }
    
    .logo {
        left: 50px;
    }
    
    .workinghammer {
        color: #000000;
        font-size: 19px;
        font-family: Inter;
        font-weight: 700;
        font-style: normal;
        line-height: 24px;
        letter-spacing: 0em;
        margin: 0;
        margin-top: 18px;
        margin-left: 12px;
    }
    
    
      .headersection .whiteheader {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 125px;
        text-decoration: none;
        font-size: 17px;
      }
      
    
  

    
      
      /* Hide the link that should open and close the topnav on small screens */
      .headersection .icon {
        display: none;
      }
    

      .myTopnav {
        margin-top: 59px;
        margin-right: 20px;
    }
    
    
        /* for post ad, notifications and avatar */
        .postad {
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            border-radius: 3px;
            color: #ffffff;
            background-color: #386DF5;
            border: none;
            float: right;
            margin-right: 131px;
            margin-top: -41px;
        }
    
        .postad:hover {
            background-color: #092a7c;
        }
    
    
        .notification {
            color: #808080;
            float: right;
            margin-top: -32px;
            margin-right: 89px;
        }
    
    
        .avatar {
            
            vertical-align: middle;
            float: right;
            margin-top: -41px;
            margin-right: 31px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
    
          }






/* for the middlesection */
.middlesection {
    background-color: #E5E5E5;
    height: fit-content;

    padding-left: 109px;
    padding-right: 50px;

      /* Style the navigation bar */
.navbar {
    width: 100%;
    overflow: auto;
    padding-top: 5px;
  }
  
  /* Navbar links */
  .navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: #A9A9A9;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Navbar links on mouse-over */
  .navbar a:hover {
    background-color: #000;
  }

  .fa-chevron-right:before {
      margin-left: 25px;
  }






/* Create two columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;

}
        .column1 {
            width: 57%;
            background-color: green;
        }

        .column2 {
            width: 43%;
        }
  


  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }


  .row {
      padding-top: 20px;
      padding-bottom: 50px;


      .topminiheader {
        background-color: #ffffff;
        margin-top: -39px;
        border-bottom: solid 1px #808080;
        .want {
            font-size: 25px;

            padding: 10px;
            padding-left: 25px;
            padding-top: 32px;

            margin-bottom: 0px;

            font-weight: 600;
        }

        .details {
            display: inline-block;

            margin-left: 31px;
            margin-right: 33px;

            color: #6B7280;
        }

        .proposal {
            display: inline-block;

            color: #6B7280;
        }

        .active {
            color: #386DF5;
            text-decoration: underline;
            text-underline-offset: 0.9em;
        }

        .display:hover {
            color: #092a7c;
        }

        .proposal:hover {
            color: #386DF5;
            text-decoration: underline;
            text-underline-offset: 0.9em;
        }
    }


      img {
        color: #000000;
        float: right;
        margin-top: 9px;
        margin-right: 13px;
        width: 18px;
      }

    .red {
        background-color: #ffffff;
        height: 96px;
        
        margin-bottom: 5px;
        border-radius: 4px;

        border: solid 1px #EEEEEE;

        p {
            display: inline-block;
            margin-left: 13px;
        }

        .dollarsign {
            color: #002ea3;
            font-size: 17px;
            font-weight: 600;

            margin-bottom: 0;
        }

        .amount {
            font-family: Titillium Web;
            font-size: 16px;
            font-weight: bold;

            margin-bottom: 0;
            margin-left: -3px;

        }

        .rates {
            font-size: 10px;

            margin-bottom: 0;
            margin-left: 0px;
            color: #808080;

        }

        .contactemployer {
            color: #ffffff;
            background-color: #386DF5;
            font-size: 11px;
            padding: 12px;
            padding-left: 18px;
            padding-right: 18px;
            border-radius: 8px;
            margin-left: 11px;
            margin-top: 10px;
            border: none;
        }

        .contactemployer:hover {
            background-color: #0139c5;
        }

        .tender {
            background-color: #F3F7FF;
            color: #386DF5;
            padding: 11px;
            padding-left: 35px;
            padding-right: 35px;
            font-size: 10px;
            font-weight: 600;
            border: 1px solid #386DF5;
            border-radius: 7px;
        }

        .tender:hover {
            background-color: #386DF5;
            color: #ffffff;
        }


    }

    .blue {
        background-color: #ffffff;
        height: fit-content;
        border-radius: 4px;
        margin-bottom: 5px;

        border: solid 1px #EEEEEE;

        .checked {
            color: #386DF5;
            font-size: 9px;
        }

        .mizeach {
            color: #000000;

            margin-right: 0;
            margin-top: 9px;
            margin-left: 15px;

            width: 28px;
            float: none;
        }

        .avatarname {
            font-size: 12px;
            margin: 0;
            width: 52px;
            display: inline-block;
        }

        .reviews {
            color: #808080;
            display: inline-block;
            font-size: 11px;
            text-decoration: underline;
        }

        .reviewswords {
            color: #333333;
            font-size: 13px;
            font-weight: 500;
            padding-left: 20px;
        }

        .statistics {
            background-color: #ffffff;
            width: 29%;
            padding: 1px;
            border: none;
            border-right: 1px solid #bebebe;
            color: black;
        }

        .statistic {
            color: #A9A9A9;
        }

        .aboutcontact {
            padding-left: 10px;
            padding-right: 10px;
        }

        .avgreply {
            margin-top: 5px;
        }

    }


    .green {
        height: 70px;

        margin-bottom: 5px;

        border: solid 1px #EEEEEE;
    }
}

.col-11 {
   width: 80%;
   margin: auto;
}

}




/* for the footer section */
.footersection {
    background-color: #202426;

    padding: 69px 80px 28px 11px;

    color: #ffffff;

    .container {
        margin: auto;
        margin-left: 6%;
    }

    .list {
        list-style: none;
        position: inherit;

        padding: 0px;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
    }

    .footer-col {
        width: 15%;
        padding: 0 10px;
        
        margin-bottom: 20px;
    }

    .footer-column {
        width: 25%;
        padding: 0 10px;
    }

    .headings {
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;

        line-height: 20px;

        letter-spacing: 0.05em;
        text-transform: uppercase;

        color: #9CA3AF;

        position: relative;

        cursor: pointer;

    }

    li {
        display: block;
    }

    ul {
        float: none;
    }


    .links {
    
        text-decoration: none;
        position: relative;
    
    
        }
    
    .links a {
        text-decoration: none;
    
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
    
        color: #D1D5DB;
    
    }

    .latest {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;

        line-height: 21px;
        margin-bottom: 15px;
    
        color: #D1D5DB;
    }

    .enter {
        height: 33px;
        border-radius: 7px;
        width: 154px;
        padding: 10px;
    }

    .subscribe {
        font-size: 12px;

        padding: 9px 9px;

        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
        border-radius: 4px;

        background-color: #002ea3;
        backdrop-filter: blur(2px);

        cursor: pointer;
    }

    .subscribe:hover {
        background-color: #092a7c;
    }


    hr {
        color: #4B5563;
        width: 92%;
        
        margin-left: 1%;
        margin-right: 7.5%;
        
    }
  
    .copyright {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;

        font-size: 9px;
        margin-left: 1%;
        line-height: 24px;
        margin-top: 25px;

        color: #9CA3AF;

        display: inline-block;
    }

    .social-links{
        float: right;

        margin-right: 10%;
        margin-top: 25px;

    }

    .social-links img {
        width: 25px;
        height: 25px;
        padding: 5px;
    }

}







@media only screen and (min-width: 1200px) {
    .footersection {
        .latest {
            font-size: 15px;
        }

        .footer-column {
            width: 30%;
        }
    }
}


    
    
    





@media only screen and (max-width: 900px) {
    .headersection {
        .workinghammer {
            font-size: 15px;
        }

        .logo1 {
            width: 22px;
            left: 76px;
            top: 32px;
        }

        .whiteheader {
            padding: 14px 88px;
        }
    
       
    }



    .middlesection {
        padding-left: 82px;

        .gridbox {
            margin-left: 79px;
        }

        .column {
            width: 100%;
        }



        .row::after {
            content: "";
            clear: both;
            display: table;
          }

    

          .row {

            .red {
                background-color: #ffffff;
                height: 96px;
                
                margin-bottom: 5px;
                border-radius: 4px;
        
                p {
                    display: inline-block;
                    margin-left: 13px;
                }
        
                .dollarsign {
                    color: #002ea3;
                    font-size: 17px;
                    font-weight: 600;
        
                    margin-bottom: 0;
                }
        
                .amount {
                    font-family: Titillium Web;
                    font-size: 16px;
                    font-weight: bold;
        
                    margin-bottom: 0;
                    margin-left: -3px;
        
                }
        
                .rates {
                    font-size: 10px;
        
                    margin-bottom: 0;
                    margin-left: 0px;
                    color: #808080;
        
                }
        
                .contactemployer {
                    color: #ffffff;
                    background-color: #386DF5;
                    font-size: 8px;
                    padding: 12px;
                    padding-left: 8px;
                    padding-right: 8px;
                    border-radius: 8px;
                    margin-left: 11px;
                    margin-top: 10px;
                    border: none;
                }
     
        
                .tender {
                    background-color: #F3F7FF;
                    color: #386DF5;
                    padding: 11px;
                    padding-left: 20px;
                    padding-right: 20px;
                    font-size: 10px;
                    font-weight: 600;
                    border: 1px solid #386DF5;
                    border-radius: 7px;
                }
        
    
            }
        
            }
    }




    .footersection {
        .footer-col {
            width: 45%;
            padding: 0 23px;
        }

        .footer-column {
            width: 91%;
            margin-bottom: 30px;
        }

        .social-links img {
            width: 10px;
            height: 10px;
            padding: 0px;
        }
    }


}




@media screen and (max-width: 600px) {

    /* for navigation bar */
    .headersection a:not(:first-child) {display: none;}
    .headersection a.icon {
      float: right;
      display: block;
    }


    .headersection.responsive {position: relative;}
    .headersection.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .headersection.responsive a {
      float: none;
      display: block;
      text-align: left;
    }

 

 

    .headersection {
        padding-bottom: 20px;
    }

    .headersection .whiteheader {
        padding-bottom: 0px;
        top: 10px;
    }

    .postad {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 8px;
        padding-bottom: 8px;
        border-radius: 4px;
        color: #ffffff;
        background-color: #386DF5;
        font-size: 6px;
        border: none;
        float: right;
        margin-right: 15px;
        margin-top: 14px;
    }


    .notification {
        margin-top: 19px;
        margin-right: 15px;
        width: 15px;
    }

    .avatar {
        margin-top: 13px;
        margin-right: 31px;
        width: 20px;
        height: 20px;
    }

    .myTopnav {
        margin-top: 6px;
        margin-right: 0;
    }


    .headersection .logo1 {
        width: 17px;
        left: 53px;
        top: 27px;
    }

    .headersection .workinghammer {
        margin-left: 0;
        font-size: 12px !important;
    }

    .headersection .whiteheader{

        padding: 5px 71px;
    }


    .workavailable {
        font-size: 8px;
    }

    .Ottawa {
        font-size: 18px;
        margin-left: 21px;
    }



    .middlesection {
        padding-left: 56px;

        .navbar a {
            font-size: 11px;
        }

        .fa-chevron-right:before {
            margin-left: 9px;
        }

        .column {
            width: 100%;
        }



        .row::after {
            content: "";
            clear: both;
            display: table;
          }


    }

}





@media screen and (max-width: 400px) {
    .headersection {
        .avatar {
            margin-top: 16px;
            width: 16px;
            height: 16px;
        }

        .notification {
            margin-right: 9px;
            margin-top: 19px;

            width: 12px;
        }

        .postad {
            padding-left: 8px;
            padding-right: 8px;
        }

        .whiteheader {
            padding: 5px 58px;
        }

        .logo1 {
            left: 39px;
        }
    }


    .middlesection {
        padding-left: 38px;

        .gridbox {
            margin-left: 47px;
        }

        .navbar a {
            font-size: 11px;
        }

        .fa-chevron-right:before {
            margin-left: 2px;
        }

        .column {
            padding: 3px;
        }

        .row {
            .red {

                height: 79px;

                .contactemployer {
                    font-size: 6px;
                    padding: 9px;
                    padding-left: 7px;
                    padding-right: 7px;
                    border-radius: 7px;
                }
     
        
                .tender {
                        padding: 7px;
                        padding-left: 17px;
                        padding-right: 17px;
                        font-size: 8px;
                }

                .dollarsign {
                    color: #002ea3;
                    font-size: 14px;
                }
        
                .amount {
                    font-size: 12px;
        
                }
        
                .rates {
                    font-size: 8px;
        
                }
            }
        }
    }

    .footersection {
        .headings {
            font-size: 15px;
        }

        .links a {
            font-size: 12px;
        }

        .footer-col {
            width: 47%;
            padding: 0 23px;
        }

        .latest {
            font-size: 10px;
        }

        .copyright {
            font-size: 6px;
        }
    }
}






