* {
    box-sizing: border-box;
}
html {
    width: 100vw !important;

    overflow-y: scroll;

}
body {
    width: 100%;

    margin: 0;
}



.headersection {
 
        background-color: #ffffff;
        overflow: hidden;
        padding: 12 10 12 10px;

}
      /* Style the links inside the navigation bar */
      .logo1 {
        position: absolute;
        width: 28px;
        left: 106px;
        top: 28px;
    }
    
    .logo {
        left: 50px;
    }
    
    .workinghammer {
        color: #000000;
        font-size: 19px;
        font-family: Inter;
        font-weight: 700;
        font-style: normal;
        line-height: 24px;
        letter-spacing: 0em;
        margin: 0;
        margin-top: 18px;
        margin-left: 12px;
    }
    
    
      .headersection .whiteheader {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 125px;
        text-decoration: none;
        font-size: 17px;
      }
      
    
  

    
      
      /* Hide the link that should open and close the topnav on small screens */
      .headersection .icon {
        display: none;
      }
    

      .myTopnav {
        margin-top: 59px;
        margin-right: 20px;
    }
    
    
        /* notifications and avatar */
    
    
        .notification {
            color: #808080;
            float: right;
            margin-top: -32px;
            margin-right: 89px;
        }
    
    
        .avatar {
            
            vertical-align: middle;
            float: right;
            margin-top: -41px;
            margin-right: 31px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
    
          }





/* for the middlesection */


.middlesection {
    background-color: #E5E5E5;
    height: fit-content;

    padding-left: 109px;
    padding-right: 50px;

      /* Style the navigation bar */
  .navbar {
      width: 100%;
      overflow: auto;
      padding-top: 5px;
    }
    
    /* Navbar links */
    .navbar a {
      float: left;
      text-align: center;
      padding: 12px;
      color: #A9A9A9;
      text-decoration: none;
      font-size: 17px;
    }
    
    /* Navbar links on mouse-over */
    .navbar a:hover {
      background-color: #000;
    }

    .fa-chevron-right:before {
        margin-left: 25px;
    }
}




/*navbar in the column */

.topminiheader {
  background-color: #ffffff;
  margin-top: -27px;
  border-bottom: solid 1px #808080;


  .profiledetails {
      font-size: 25px;

      padding: 10px;
      padding-left: 25px;
      padding-top: 35px;

      margin-bottom: 0px;

      font-weight: 600;
  }

  .profile {
      display: inline-block;

      margin-left: 26px;
      margin-right: 1px;

      font-size: 14px;

      color: #6B7280;
  }


  .active {
      color: #386DF5;
  }

  .display:hover {
      color: #092a7c;
  }

}



.formbox {
  background-color: #ffffff;

  .usergroup {
    padding-top: 30px;
    padding-bottom: 10px;


    .userlabel {
      margin-left: 25px;
      margin-right: 306px;

      color: #374151;
      font-size: 14px;
    }

    .username {
      width: 21%;
      border: 1px solid #D1D5DB;
    }
  }

  hr {
    width: 85%;
    margin-left: 25px;
    color: #E5E7EB;
  }

  .aboutgroup {
    margin-top: 12px;
    margin-left: 25px;
    color: #374151;
    font-size: 15px;

      .about {
        margin-right: 329px;
      }

      .aboutinput {
        border: 1px solid #D1D5DB;
      }

      .writeabout {
        margin-left: 370px;
        font-size: 10px;
        padding-bottom: 10px;
      }

}


.photogroup {
    margin-left: 25px;
    color: #374151;
    font-size: 14px;

    .photo {
      margin-right: 331px;
    }

    .change {
      margin-left: 20px;
      margin-bottom: 14px;
      color: #374151;
      padding: 5px;
      border-radius: 6px;
      border: 1px solid #D1D5DB;
      background-color: #ffffff;
    }
}

.photohr{
  margin-bottom: 15%;
}

.personal {
  color: #111827;
  margin-left: 25px;
  font-size: 16px;
  margin-bottom: 0px;
}

.information {
  margin-left: 25px;
  margin-top: 2px;

  color: #6B7280;
  font-size: 14px;
}

.namegroup {
  padding-top: 30px;
  padding-bottom: 10px;


  .namelabel {
    margin-left: 25px;
    margin-right: 302px;

    color: #374151;
    font-size: 14px;
  }

  .firstname {
    width: 21%;
    border: 1px solid #D1D5DB;
  }
}

.lnamegroup {
  padding-top: 30px;
  padding-bottom: 10px;


  .lnamelabel {
    margin-left: 25px;
    margin-right: 305px;

    color: #374151;
    font-size: 14px;
  }

  .lastname {
    width: 21%;
    border: 1px solid #D1D5DB;
  }
}

.emailgroup {
  padding-top: 30px;
  padding-bottom: 10px;


  .email {
    margin-left: 25px;
    margin-right: 283px;

    color: #374151;
    font-size: 14px;
  }

  .emailaddress {
    width: 30%;
    border: 1px solid #D1D5DB;
  }
}

.countrygroup {
  padding-top: 30px;
  padding-bottom: 10px;


  .country {
    margin-left: 25px;
    margin-right: 272px;

    color: #374151;
    font-size: 14px;
  }

  select {
    border: 1px solid #D1D5DB;
    background-color: #ffffff;
    padding-right: 95px;
    padding-top: 4px;
    padding-bottom: 4px;


    .option {
      color: #111827;
    }
    }

}

.streetgroup {
  padding-top: 30px;
  padding-bottom: 10px;


  .streetaddress {
    margin-left: 25px;
    margin-right: 286px;

    color: #374151;
    font-size: 14px;
  }

  .streetaddy {
    width: 32%;
    border: 1px solid #D1D5DB;
  }
}


.citygroup {
  padding-top: 30px;
  padding-bottom: 10px;


  .city {
    margin-left: 25px;
    margin-right: 340px;

    color: #374151;
    font-size: 14px;
  }

  .cityaddress {
    width: 25%;
    border: 1px solid #D1D5DB;
  }
}

.stategroup {
  padding-top: 30px;
  padding-bottom: 10px;


  .state {
    margin-left: 25px;
    margin-right: 278px;

    color: #374151;
    font-size: 14px;
  }

  .stateaddy {
    width: 25%;
    border: 1px solid #D1D5DB;
  }
}


.postalgroup {
  padding-top: 30px;
  padding-bottom: 10px;


  .postal {
    margin-left: 25px;
    margin-right: 303px;

    color: #374151;
    font-size: 14px;
  }

  .postaladdy {
    width: 25%;
    border: 1px solid #D1D5DB;
  }
}

.notificationhr {
  margin-bottom: 12%;
}

.notifications {
  color: #111827;
  margin-left: 25px;
  font-size: 16px;
  margin-bottom: 0px;
}

.important {
  margin-left: 25px;
  margin-top: 2px;

  color: #6B7280;
  font-size: 14px;
}

.byemail {
  display: inline-block;
  margin-left: 25px;
  color: #374151;
  font-size: 14px;
}

.headings {
  display: inline-block;
  margin-bottom:0px;
  color: #374151;
}

.paragraph {
    display: inline-block;
    display: inline-block;
    margin-left: 394px;
    margin-top: 0;
    font-size: 10px;
    color: #6B7280;
}

.checkbox {
  margin-left: 315px;
}

.checkbox2 {
  margin-left: 398px;
}

.pushnoti {

  .title {
    display: inline-block;
    display: inline-block;
    margin-left: 262px;
    margin-top: 0;
    font-size: 10px;
    color: #6B7280;
  }

  .headings {
    margin-top: 0px;
  }

  .radiobox {
    margin-left: 398px;
  }
}

.buttons {
  float: right;
  margin-right: 12%;
  padding-top: 2px;
  padding-bottom: 20px;

  .cancel {
    border: 1px solid #D1D5DB;
    background-color: #ffffff;
    padding: 6px;
    border-radius: 4px;
  }

  .cancel:hover {
    background-color: #808080;
  }

  .save {
    border: 1px solid #D1D5DB;
    background-color: #386DF5;
    color: #ffffff;
    padding: 7px;
    padding-left: 13px;
    padding-right: 13px;
    border-radius: 4px;
  }

  .save:hover {
    background-color: #2b4997;
  }
}
}






@media only screen and (max-width: 900px) {

  .headersection {
    .workinghammer {
        font-size: 15px;
    }

    .logo1 {
        width: 22px;
        left: 76px;
        top: 32px;
    }

    .whiteheader {
        padding: 14px 88px;
    }

   
}


  .topminiheader {

    .profile {
      margin-right: -15px;
      font-size: 12px;
    }

  }

  .middlesection {
    padding-left: 52px;

    .navbar a {
      font-size: 14px;
    }
  }

.formbox {

  .usergroup {
    .userlabel {
      margin-right: 117px;
    }

    .username {
      width: 39%;
      margin-left: 27px;
      margin-top: 10px;
    }
  }

  .aboutgroup  {

     .about {
      margin-right: 167px;
    }

    .writeabout {
      margin-left: 210px;
    }
  }

  .photogroup {
    .photo {
      margin-right: 174px;
    }

    .emptyavatar {
      width: 35px;
    }
  }

  .namegroup {

    .firstname {
      width: 33%;
    }

    .namelabel {
      margin-right: 144px;
    }
  }

  .lnamegroup {

    .lnamelabel {
      margin-right: 151px;
    }

    .lastname {

       width: 32%;

    }
  }

  .emailgroup {

    .email {
      margin-right: 128px;
    }

    .emailaddress {
       width: 38%;
    }
  }

  .countrygroup {

    .country {
      
      margin-right: 85px;
      display: block;

    }

    select {
      margin-left: 27px;
      margin-top: 5px;
      width: 42%;
    }
  }

  .streetgroup {

    .streetaddress {
      margin-right: 132px;
    }
  }

  .citygroup {

    .city {
       margin-right: 186px;
    }
  }

  .stategroup {

    .state {
      margin-right: 123px;
      width: 32%;

    }
  }

  .postalgroup {

    .postal {
      margin-right: 150px;
    }
  }

  .notifications {
    font-size: 15px;
  }

  .important {
    font-size: 10px;
  }

  .checkbox {
    margin-left: 148px;
  }

  .paragraph {
    margin-left: 231px;
  }

  .checkbox2 {
    margin-left: 233px;
  }

  .pushnoti {

    .radiobox {

      margin-left: 233px;
    }

    .title {
      margin-left: 230px;
      display: block;
    }
  }

  .buttons {
    margin-right: 47px;
  }
}

}







@media only screen and (max-width: 600px) {
  
      .headersection {
          padding-bottom: 20px;
      }
  
      .headersection .whiteheader {
          padding-bottom: 0px;
          top: 10px;
      }
  
  
      .notification {
          margin-top: 19px;
          margin-right: 15px;
          width: 15px;
      }
  
      .avatar {
          margin-top: 13px;
          margin-right: 31px;
          width: 20px;
          height: 20px;
      }
  
      .myTopnav {
          margin-top: 6px;
          margin-right: 0;
      }
  
  
      .headersection .logo1 {
          width: 17px;
          left: 53px;
          top: 27px;
      }
  
      .headersection .workinghammer {
          margin-left: 0;
          font-size: 12px !important;
      }
  
      .headersection .whiteheader{
  
          padding: 5px 71px;
      }

      
  .topminiheader {

    .profile {
      margin-right: -24px;
      font-size: 8px;
    }

    .profiledetails {
      font-size: 21px;
    
  }
}

.middlesection {

  .navbar a {
    font-size: 13px;
  } 
}

.formbox {

  .photohr {
    margin-bottom: 118px;
  }

  .information {
    font-size: 12px;
  }

  .usergroup {

    .username {
      margin-left: 27px;
      margin-top: 10px;
    }
  }

  .aboutgroup {

      .aboutinput {
        margin-top: 10px;
      }

      .writeabout {
        margin-left: 3px;
      }
    
  }

  .photogroup {
    .photo {
      margin-right: 61px;
    }
  }

  .namegroup {
    .firstname {
      margin-left: 27px;
      margin-top: 10px;

      width: 46%;
    }
  }

  .lnamegroup {

    .lastname {
      width: 45%;
      margin-top: 5px;
      margin-left: 28px;
    }
  }

  .emailgroup {

    .emailaddress {
      width: 59%;
      margin-top: 5px;
      margin-left: 25px;  
    }
  }

  .streetgroup {

    .streetaddress {
      display: block;
    }

    .streetaddy {
      margin-left: 25px;
      margin-top: 5px;
      width: 44%; 
    }
  }

  .citygroup {

    .city {
      display: block;
    }

    .cityaddress {
      margin-top: 5px;
      width: 42%;
      margin-left: 27px;
    }
  }

  .stategroup {

    .state {
      display: block;
    }

    .stateaddy {
      margin-left: 28px;
      margin-top: 5px;
      width: 42%;
    }
  }

  .postalgroup {

    .postal {
      display: block;
    }

    .postaladdy {
      margin-left: 30px;
      width: 42%;
      margin-top: 5px;
    }
  }

  .important {
    font-size: 9px;
    width: 78%;
  }

  .checkbox {
    margin-left: 45px;
  }

  .paragraph {
    margin-left: 128px;
    width: 49%;
  }

  .checkbox2 {
    margin-left: 130px;
  }

  .pushnoti {
    .title {
      margin-left: 129px;
      width: 47%;
    }

    .radiobox {
      margin-left: 130px;
    }
  }

  .buttons {
    margin-right: 17px;

    .cancel {
      padding: 4px;
      font-size: 9px;
    }

    .save {
      padding: 3px;
      padding-left: 6px;
      padding-right: 7px;
      font-size: 10px;
    }
  }


}

}



@media only screen and (max-width: 400px) {

  .headersection {
    .avatar {
        margin-top: 16px;
        width: 16px;
        height: 16px;
    }

    .notification {
        margin-right: 9px;
        margin-top: 19px;

        width: 12px;
    }

    .whiteheader {
        padding: 5px 58px;
    }

    .logo1 {
        left: 39px;
    }
}

.middlesection {

  .navbar a {
    padding: 7px;
  }
}


.topminiheader {

  .profile {
    font-size: 6px;
  }
}


.formbox {

  .personal {
    font-size: 15px;
  }

  .information {
    font-size: 10px;
  }
}

  .middlesection {
    padding-left: 23px;
    padding-right: 30px;
  }
}