body {
  margin: 0;
  height: 100vh;
}

iframe {
  height: 10%;
}

.bg-image {
  /* The image used */
  background-image: url("/assets/images/priscilla-du-preez-JCZ2pE-Szpw-unsplash.jpg");
  /* Full height */
  height: 90%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* to blur the image */
  -webkit-filter: blur(1.5px) brightness(45%);
          filter: blur(1.5px) brightness(45%);
}

/* For the page */
.page-container {
  background-color: transparent;
  color: white;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
  width: 100%;
  height: 97%;
  /* for the signup, signin, post ad buttons */
  /* for the elements on the topsection */
  /* for the lower section of the top page */
  /*for find work & hire talent*/
}

.page-container .buttons {
  background-color: #386DF5;
  border: transparent;
  margin-top: 32px;
  margin-right: 6px;
  font-size: 14px !important;
}

.page-container .buttons:hover {
  background-color: #092a7c;
}

.page-container .signup {
  background-color: transparent;
}

.page-container .signin {
  background-color: transparent;
}

.page-container .header {
  margin-top: 4%;
  margin-left: 22%;
}

.page-container .header .mainheader {
  font-family: Lora;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
  letter-spacing: -0.025em;
  margin-bottom: 12px;
  color: #FFFFFF;
}

.page-container .header .words {
  font-family: Aleo;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  width: 60%;
  line-height: 19px;
  color: #FFFFFF;
  opacity: 0.8;
}

.page-container .whattodo {
  position: absolute;
  z-index: 2;
  width: 241px;
  height: 58px;
  left: 21%;
  top: 59%;
  background: #18191B;
  mix-blend-mode: multiply;
  opacity: 0.6;
  -webkit-box-shadow: 0px 8px 28px rgba(0, 0, 0, 0.863);
          box-shadow: 0px 8px 28px rgba(0, 0, 0, 0.863);
  border-radius: 47px;
}

.page-container .working {
  position: absolute;
  z-index: 2;
  width: 34%;
  height: 76px;
  left: 21%;
  top: 55%;
}

.page-container .working .findwork {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 123px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 29px;
  z-index: 3;
  margin-left: 9px;
  margin-top: 27px;
  background: #386DF5;
  border-color: #386DF5;
  color: #ffffff;
  opacity: 1;
  /* /shadow/base */
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
  border-radius: 167px;
}

.page-container .working .hiretalent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
  position: absolute;
  margin-left: 144px;
  margin-top: 42px;
  color: #ffffff;
  opacity: 1;
  background-color: inherit;
  border-width: 0px;
}

.page-container .searchbox {
  /* for the search boxes */
}

.page-container .searchbox .searchitems {
  margin-top: 128px;
  margin-left: 22%;
  padding-bottom: 49px;
}

.page-container .searchbox .searchitems .searchkey {
  padding: 16px;
  border-radius: 7px;
  border: none;
  width: 30%;
}

.page-container .searchbox .searchitems .location {
  padding: 16px;
  border-radius: 7px;
  border: none;
  width: 30%;
  margin-left: -15px;
}

.page-container .searchbox .searchitems .search {
  background-color: #386DF5;
  border: none;
  color: #ffffff;
  font-size: 19px;
  border-radius: 9px;
  width: 18%;
  padding: 15px;
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
  margin-left: -9px;
}

.page-container .searchbox .searchitems h6 {
  margin: 0;
}

/* for thr navigation bar */
.topnav {
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav .topheader {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 8px 14px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Change the color of links on hover */
.signup .signin:hover {
  background-color: #002ea3;
  color: #ffffff;
}

/* Add an active class to highlight the current page */
.topnav .topheader.active {
  background-color: #04AA6D;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

.logo {
  width: 69%;
}

.logo1 {
  margin-left: 25px;
  margin-top: 28px;
  width: 32px;
  height: 32px;
}

.workinghammer {
  font-size: 20px;
  margin-top: 32px;
  font-family: Arvo;
  font-style: normal;
  font-weight: bold;
  line-height: 25px;
  color: #FFFFFF;
}

/* for the signup button and pop up modal */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 999;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  /* Modal Content/Box */
}

.modal .modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 37%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 13%;
  border-radius: 5px;
  /* for the signup, signin, post ad buttons */
}

.modal .modal-content form {
  padding: 5% 10%;
}

.modal .modal-content .sign-in-with {
  margin-top: 27px;
  margin-bottom: 2px;
  font-size: 12px;
  color: #111827;
}

.modal .modal-content .bluehammer {
  width: 24px;
}

.modal .modal-content h2 {
  font-size: 18px;
  margin-top: 10px;
}

.modal .modal-content .icons {
  color: #6B7280;
  background-color: #ffffff;
  padding: 3px 35px 3px 35px;
  border: 1px solid #D1D5DB;
  border-radius: 3px;
}

.modal .modal-content h3 {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #D1D5DB;
  line-height: 0.1em;
  margin: 10px 0 20px;
  color: #D1D5DB;
  margin-top: 17px;
}

.modal .modal-content h3 span {
  background: #fff;
  padding: 0 10px;
  color: #808080;
  font-size: 10px;
}

.modal .modal-content label {
  font-size: 10px;
  color: #808080;
  font-weight: 200;
}

.modal .modal-content .input {
  margin: 2px 0px 0px 0px;
  width: 93%;
  height: 28px;
  border-radius: 1px #D1D5DB;
}

.modal .modal-content .emailbox {
  margin-bottom: 4px;
}

.modal .modal-content .namelabel {
  margin-top: 4px;
}

.modal .modal-content .remember {
  display: inline-block;
  margin: 18px 10px 0px 0px;
  width: 7%;
}

.modal .modal-content .forgot {
  text-decoration: none;
  color: #386DF5;
  margin-left: 31%;
}

.modal .modal-content .signinbutton {
  display: block;
  border-radius: 38px;
  color: #ffffff;
  margin: 8px;
  padding: 10px 110px;
  background-color: #254caf;
  cursor: pointer;
  border: none;
}

.modal .modal-content .signinbutton:hover {
  background-color: #254CAF;
}

.modal .modal-content .signupbutton {
  display: block;
  border-radius: 38px;
  color: #386DF5;
  margin: 8px;
  padding: 10px 110px;
  background-color: #ffffff;
  cursor: pointer;
  border: none;
}

.modal .modal-content .signupbutton:hover {
  background-color: #386DF5;
  color: #ffffff;
}

.modal .modal-content .buttons {
  background-color: #386DF5;
  border: transparent;
  margin-top: 32px;
  margin-right: 6px;
  font-size: 15px !important;
}

.modal .modal-content .buttons:hover {
  background-color: #092a7c;
}

.modal .modal-content .signup {
  background-color: transparent;
}

.modal .modal-content .signin {
  background-color: transparent;
}

@media only screen and (min-width: 1200px) {
  .page-container .logo {
    width: 66%;
  }
  .page-container .topnav .topheader {
    padding: 20px 20px;
  }
  .page-container .buttons {
    font-size: 20px;
  }
  .page-container .header {
    margin-top: 15%;
  }
  .page-container .header .mainheader {
    font-size: 81px;
    margin-bottom: 51px;
  }
  .page-container .header .words {
    font-size: 26px;
    line-height: 28px;
  }
}

@media only screen and (max-width: 900px) {
  .page-container .topnav .topheader {
    padding: 6px 6px;
  }
  .page-container .buttons {
    font-size: 11px !important;
  }
  .page-container .header .mainheader {
    margin-bottom: 0;
    font-size: 30px;
  }
  .page-container .header .words {
    font-size: 12px;
    width: 60%;
  }
  .page-container .whattodo {
    width: 173px;
    height: 48px;
    top: 54%;
  }
  .page-container .working {
    top: 50%;
  }
  .page-container .working .findwork {
    width: 93px;
    padding: 14px 11px;
    margin-top: 23px;
    font-size: 9px;
    top: 50%;
  }
  .page-container .working .hiretalent {
    font-size: 10px;
    margin-left: 104px;
    margin-top: 38px;
  }
  .page-container .searchbox .searchitems {
    margin-top: 122px;
    margin-left: 13%;
    padding: 34px;
  }
  .modal .modal-content form {
    padding: 3% 7%;
  }
  .modal .modal-content form .bluehammer {
    width: 20px;
  }
  .modal .modal-content form h2 {
    font-size: 13px;
    margin-top: 8px;
  }
  .modal .modal-content form .sign-in-with {
    margin-top: 18px;
    font-size: 10px;
  }
  .modal .modal-content form .icons {
    padding: 3px 25px 3px 25px;
  }
  .modal .modal-content form h3 span {
    font-size: 8px;
  }
  .modal .modal-content form label {
    font-size: 8px;
  }
  .modal .modal-content form .input {
    height: 20px;
  }
  .modal .modal-content form .remember {
    margin: 18px 3px 0px 0px;
  }
  .modal .modal-content form .signinbutton {
    font-size: 9px;
    margin: 6px;
    padding: 15px 81px;
  }
  .modal .modal-content form .signupbutton {
    font-size: 9px;
    margin: 6px;
    padding: 15px 79px;
  }
}

@media only screen and (max-width: 600px) {
  .page-container .logo {
    width: 55%;
  }
  .page-container .logo1 {
    margin-left: 5px;
    margin-top: 27px;
    width: 26px;
    height: 26px;
  }
  .page-container .workinghammer {
    font-size: 15px;
    margin-top: 29px;
  }
  .page-container .header .mainheader {
    font-size: 25px;
  }
  .page-container .header .words {
    font-size: 11px;
  }
  .page-container .whattodo {
    width: 122px;
    height: 38px;
    top: 60%;
  }
  .page-container .working {
    top: 50%;
  }
  .page-container .working .findwork {
    width: 66px;
    padding: 11px 10px;
    margin-top: 57px;
    font-size: 8px;
    margin-left: 4px;
  }
  .page-container .working .hiretalent {
    font-size: 9px;
    margin-left: 64px;
    width: 64px;
    margin-top: 68px;
  }
  .page-container .searchitems {
    margin-top: 164px;
    margin-left: 11%;
  }
  .page-container .searchitems .search {
    font-size: 16px;
    width: 18%;
    padding: 14px;
  }
  .page-container .searchitems .location {
    width: 25%;
    padding: 12px;
    padding-bottom: 14px;
  }
  .page-container .searchitems .searchkey {
    width: 25%;
    padding: 12px;
    padding-bottom: 14px;
  }
  .page-container .searchitems ::-webkit-input-placeholder {
    font-size: 8px;
  }
  .page-container .searchitems :-ms-input-placeholder {
    font-size: 8px;
  }
  .page-container .searchitems ::-ms-input-placeholder {
    font-size: 8px;
  }
  .page-container .searchitems ::placeholder {
    font-size: 8px;
  }
  .modal .modal-content {
    width: 43%;
    padding: 14px;
  }
  .modal .modal-content form {
    padding: 1% 4%;
  }
  .modal .modal-content form .bluehammer {
    width: 15px;
  }
  .modal .modal-content form h2 {
    font-size: 10px;
    margin-top: 5px;
  }
  .modal .modal-content form .sign-in-with {
    margin-top: 13px;
    font-size: 9px;
  }
  .modal .modal-content form .icons {
    font-size: 9px;
    padding: 3px 18px 3px 18px;
  }
  .modal .modal-content form h3 {
    margin-top: 11px;
    margin-bottom: 8px;
  }
  .modal .modal-content form h3 span {
    font-size: 8px;
  }
  .modal .modal-content form label {
    font-size: 8px;
  }
  .modal .modal-content form .input {
    height: 16px;
  }
  .modal .modal-content form .forgot {
    margin-left: 21%;
  }
  .modal .modal-content form .signinbutton {
    padding: 9px 60px;
  }
  .modal .modal-content form .signupbutton {
    padding: 9px 60px;
  }
}

@media only screen and (max-width: 400px) {
  .logo {
    width: 48%;
  }
  .logo1 {
    margin-top: 22px;
    width: 24px;
    height: 24px;
  }
  .workinghammer {
    display: none;
  }
  .page-container {
    padding-top: 0;
  }
  .page-container .buttons {
    font-size: 8px !important;
    margin-right: 0px;
  }
  .page-container .header {
    margin-top: 23%;
  }
  .page-container .header .mainheader {
    font-size: 20px;
    line-height: 29px;
  }
  .page-container .header .words {
    font-size: 10px;
    line-height: 12px;
    width: 70%;
  }
  .page-container .whattodo {
    width: 126px;
    height: 44px;
    top: 59%;
  }
  .page-container .searchbox .searchitems {
    margin-top: 169px;
  }
  .page-container .searchbox .searchitems .searchkey {
    padding: 12px;
    width: 19%;
  }
  .page-container .searchbox .searchitems .location {
    padding: 12px;
    width: 19%;
  }
  .page-container .searchbox .searchitems ::-webkit-input-placeholder {
    font-size: 6px;
  }
  .page-container .searchbox .searchitems :-ms-input-placeholder {
    font-size: 6px;
  }
  .page-container .searchbox .searchitems ::-ms-input-placeholder {
    font-size: 6px;
  }
  .page-container .searchbox .searchitems ::placeholder {
    font-size: 6px;
  }
  .page-container .searchbox .searchitems .search {
    font-size: 8px;
    position: absolute;
    padding: 16px;
  }
  .modal .modal-content form .bluehammer {
    width: 12px;
  }
  .modal .modal-content form h2 {
    font-size: 8px;
    margin-top: 0px;
  }
  .modal .modal-content form .sign-in-with {
    margin-top: 10px;
    margin-bottom: -1px;
    font-size: 7px;
  }
  .modal .modal-content form .icons {
    font-size: 7px;
    padding: 3px 14px 3px 14px;
  }
  .modal .modal-content form h3 {
    margin-top: 8px;
    margin-bottom: 6px;
  }
  .modal .modal-content form h3 span {
    font-size: 6px;
  }
  .modal .modal-content form label {
    font-size: 6px;
  }
  .modal .modal-content form .input {
    height: 12px;
    margin-bottom: 0px;
  }
  .modal .modal-content form .emailbox {
    margin-bottom: 0px;
  }
  .modal .modal-content form .forgot {
    margin-left: 21%;
  }
  .modal .modal-content form .signinbutton {
    padding: 9px 41px;
  }
  .modal .modal-content form .signupbutton {
    padding: 9px 39px;
  }
}
/*# sourceMappingURL=index.css.map */