* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  width: 100vw !important;
  overflow-y: scroll;
}

body {
  width: 100%;
  margin: 0;
  background-color: #E5E5E5;
}

.a:-webkit-any-link {
  text-decoration: none;
  color: #ffffff;
}

.mainsection {
  width: 80%;
  margin: auto;
  padding: 10px;
  border-radius: 5px;
  background-color: #ffffff;
}

.mainsection .mainheader {
  font-size: 25px;
  font-weight: 600;
  margin-top: 40px;
  margin-left: 35px;
}

.mainsection .banktable {
  overflow-x: auto;
  border-radius: 7px;
  border: 1px solid #ddd;
  margin-top: 30px;
  margin-left: 33px;
  margin-right: 15%;
  margin-bottom: 25%;
}

.mainsection .banktable table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

.mainsection .banktable th, .mainsection .banktable td {
  text-align: left;
  padding: 8px;
}

.mainsection .banktable tr {
  border-bottom: 1px solid #E5E7EB;
}

.mainsection .banktable th {
  background-color: #F9FAFB;
  color: #6B7280;
  font-size: 12px;
}

.mainsection .banktable td {
  white-space: nowrap;
}

.mainsection .banktable td img {
  width: 37px;
}

.mainsection .banktable td .names {
  display: inline-block;
  margin-left: 5px;
}

.mainsection .banktable td .mainame {
  display: inline-block;
  margin: 0;
  margin-bottom: 5px;
  font-weight: 700;
  white-space: nowrap;
}

.mainsection .banktable td .email {
  margin: 0;
  color: #6B7280;
}

.mainsection .banktable td .active {
  background-color: #D1FAE5;
  color: #065F46;
  padding: 4px;
  font-size: 10px;
  padding-left: 8px;
  border-radius: 11px;
}

.mainsection .banktable td .admin {
  color: #6B7280;
  font-size: 12px;
}

.mainsection .banktable td .edit {
  color: #4F46E5;
  font-size: 10px;
  margin-left: 10px;
}

@media only screen and (max-width: 900px) {
  .mainsection .mainheader {
    font-size: 22px;
    margin-top: 29px;
    margin-left: 25px;
  }
  .mainsection .banktable th {
    font-size: 10px;
  }
  .mainsection .banktable td img {
    width: 25px;
  }
  .mainsection .banktable td .mainame {
    font-size: 12px;
    margin-bottom: 0px;
  }
  .mainsection .banktable td .email {
    font-size: 10px;
  }
  .mainsection .banktable td .active {
    font-size: 8px;
  }
}

@media screen and (max-width: 600px) {
  .mainsection .mainheader {
    font-size: 20px;
    margin-top: 22px;
    margin-left: 16px;
  }
  .mainsection .banktable td img {
    width: 0;
  }
  .mainsection .banktable td .mainame {
    font-size: 10px;
  }
  .mainsection .banktable td .email {
    font-size: 8px;
  }
  .mainsection .banktable td .active {
    font-size: 7px;
  }
  .mainsection .banktable td .admin {
    font-size: 10px;
  }
  .mainsection .banktable td .edit {
    font-size: 8px;
  }
}

@media screen and (max-width: 400px) {
  .mainsection .mainheader {
    font-size: 15px;
    margin-top: 14px;
    margin-left: 10px;
  }
  .mainsection .banktable {
    margin-left: 7px;
    margin-right: 0%;
  }
  .mainsection .banktable td .active {
    font-size: 6px;
  }
  .mainsection .banktable td .admin {
    font-size: 8px;
  }
}
/*# sourceMappingURL=bank.css.map */