body, html {
  height: 100%;
  width: 100%;
  margin: 0;
}

.bg-image {
  /* The image used */
  background-image: url("/assets/images/manwithmower.png");
  /* Add the blur effect */
  filter: blur(1px);
  -webkit-filter: blur(1px);
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* For the nav container */
.nav-container {
  background-color: transparent;
  color: white;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
  width: 100%;
  height: 97%;
  padding: 20px;
}

/* for thr navigation bar */
.topnav {
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav .topheader {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 11px 14px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Change the color of links on hover */
.signup .signin:hover {
  background-color: #002ea3;
  color: #ffffff;
}

/* Add an active class to highlight the current page */
.topnav .topheader.active {
  background-color: #04AA6D;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

.logo {
  width: 69%;
}

.logo1 {
  margin-left: 25px;
  margin-top: 28px;
  width: 32px;
  height: 32px;
}

.workinghammer {
  font-size: 20px;
  margin-top: 32px;
  font-family: Arvo;
  font-style: normal;
  font-weight: bold;
  line-height: 25px;
  color: #FFFFFF;
}

/* for the elements on the topsection */
.header {
  text-align: center;
}

.mainheader {
  font-family: Lora;
  font-style: normal;
  font-weight: bold;
  font-size: 49px;
  line-height: 64px;
  text-align: center;
  letter-spacing: -0.025em;
  margin-bottom: 12px;
  color: #FFFFFF;
}

.words {
  font-family: Aleo;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  width: 65%;
  margin: auto;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  opacity: 0.8;
}

/* for the lower section of the top page */
.whattodo {
  z-index: 2;
  width: 26%;
  height: 58px;
  background: #18191B;
  mix-blend-mode: multiply;
  opacity: 0.6;
  -webkit-box-shadow: 0px 8px 28px rgba(0, 0, 0, 0.863);
          box-shadow: 0px 8px 28px rgba(0, 0, 0, 0.863);
  border-radius: 47px;
}

/* for the grid section */
.gridsection {
  background-color: #E5E5E5;
  padding-bottom: 50px;
  margin-top: -22px;
}

.grid {
  padding: 5px;
  margin-right: 20%;
  display: -ms-grid;
  display: grid;
  grid-gap: 1px;
  background-color: #E5E5E5;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

@media (min-width: 768px) {
  .grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.grid .col {
  margin-bottom: 72px;
  padding: 5px;
  margin-top: 20px;
}

.images {
  display: block;
  width: 100%;
  height: 75%;
  border-radius: 5px;
}

.fa {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 20px;
  color: #6B7280;
}

.stars {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 20px;
  color: #6B7280;
  margin-top: -7px;
}

.image1, .image4 {
  margin-left: 20px;
}

.task {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  color: #333333;
  margin-top: 10px;
}

.price {
  font-family: Titillium Web;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  color: #333333;
  margin-top: -8px;
}

.date {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 17px;
  color: #6B7280;
}

.published {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  padding-top: 10px;
  margin-left: 30px;
  margin-bottom: -18px;
}

/* for the signup button and pop up modal */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 999;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 41%;
  height: 53%;
  margin-top: 20%;
  border-radius: 10px;
}

form {
  padding: 38px;
}

.sign-in-width {
  margin-top: 10%;
}

/* for the signup, signin, post ad buttons */
.buttons {
  background-color: #386DF5;
  border: transparent;
  margin-top: 32px;
  margin-right: 6px;
  font-size: 15px !important;
}

.buttons:hover {
  background-color: #092a7c;
}

.signup {
  background-color: transparent;
}

.signin {
  background-color: transparent;
}

/* for the footer section */
.footersection {
  background-color: #202426;
  padding: 69px 80px 28px 11px;
  color: #ffffff;
}

.footersection .container {
  margin: auto;
  margin-left: 6%;
}

.footersection .list {
  list-style: none;
  position: inherit;
  padding: 0px;
}

.footersection .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footersection .footer-col {
  width: 15%;
  padding: 0 10px;
  margin-bottom: 20px;
}

.footersection .footer-column {
  width: 25%;
  padding: 0 10px;
}

.footersection .headings {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #9CA3AF;
  position: relative;
  cursor: pointer;
}

.footersection li {
  display: block;
}

.footersection ul {
  float: none;
}

.footersection .links {
  text-decoration: none;
  position: relative;
}

.footersection .links a {
  text-decoration: none;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #D1D5DB;
}

.footersection .latest {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  margin-bottom: 15px;
  color: #D1D5DB;
}

.footersection .enter {
  height: 33px;
  border-radius: 7px;
  width: 154px;
  padding: 10px;
}

.footersection .subscribe {
  font-size: 12px;
  padding: 9px 9px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  background-color: #002ea3;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  cursor: pointer;
}

.footersection .subscribe:hover {
  background-color: #092a7c;
}

.footersection hr {
  color: #4B5563;
  width: 92%;
  margin-left: 1%;
  margin-right: 7.5%;
}

.footersection .copyright {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  margin-left: 1%;
  line-height: 24px;
  margin-top: 25px;
  color: #9CA3AF;
  display: inline-block;
}

.footersection .social-links {
  float: right;
  margin-right: 10%;
  margin-top: 25px;
}

.footersection .social-links img {
  width: 25px;
  height: 25px;
  padding: 5px;
}

@media only screen and (min-width: 1200px) {
  .mainheader {
    font-size: 81px;
    margin-bottom: 51px;
  }
  .header {
    margin-top: 15%;
  }
  .words {
    font-size: 26px;
    line-height: 28px;
  }
  .logo {
    width: 66%;
  }
  .topnav .topheader {
    padding: 20px 20px;
  }
  .buttons {
    font-size: 20px;
  }
  .gridsection .task {
    font-size: 20px;
  }
  .gridsection .price {
    font-size: 18px;
  }
  .gridsection .date {
    font-size: 13px;
  }
  .footersection .latest {
    font-size: 15px;
  }
  .footersection .footer-column {
    width: 30%;
  }
}

@media only screen and (max-width: 900px) {
  .topnav .topheader {
    padding: 6px 6px;
  }
  .buttons {
    font-size: 11px !important;
  }
  .footersection .footer-col {
    width: 33%;
    padding: 0 23px;
  }
  .footersection .footer-column {
    width: 91%;
    margin-bottom: 30px;
  }
  .footersection .social-links img {
    width: 10px;
    height: 10px;
    padding: 0px;
  }
}

@media only screen and (max-width: 600px) {
  .logo {
    width: 55%;
  }
  .logo1 {
    margin-left: 5px;
    margin-top: 27px;
    width: 26px;
    height: 26px;
  }
  .workinghammer {
    font-size: 15px;
    margin-top: 29px;
  }
  .mainheader {
    font-size: 36px;
    margin-bottom: 7px;
  }
  .words {
    font-size: 12px;
  }
}

@media only screen and (max-width: 400px) {
  .logo {
    width: 48%;
  }
  .logo1 {
    margin-top: 22px;
    width: 24px;
    height: 24px;
  }
  .workinghammer {
    display: none;
  }
  .nav-container {
    padding-top: 0;
  }
  .words {
    font-size: 8px;
    line-height: 12px;
    width: 80%;
  }
  .mainheader {
    font-size: 27px;
  }
  .header {
    margin-top: 23%;
  }
  .footersection .headings {
    font-size: 15px;
  }
  .footersection .links a {
    font-size: 12px;
  }
  .footersection .footer-col {
    width: 28%;
  }
  .footersection .latest {
    font-size: 10px;
  }
  .footersection .copyright {
    font-size: 6px;
  }
}
/*# sourceMappingURL=homepage2.css.map */